{% extends "ta_main.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
    <div class="row">
         <div class="col-8">
              {% block page %}{% endblock %}
               <p id="textError"></p>
         </div>
         <div class="col-4">
             {% block filter %}
                 {% include 'ta_filter_styles.html' %}
                 {% for flt in filters %}
                 {% include 'ta_filter_item.html' %}
                 {% endfor %}
                 {% include 'ta_filter_ajax.html' %}
             {% endblock %}
         </div>
    </div>
{% endblock %}