{% extends "ta_layout_sales.html" %}
{% load staticfiles %}
{% load i18n %}

{% block page %}

	<script type="text/javascript" src="{% static 'chartjs\Chart.bundle.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'chartjs\utils.js' %}"></script>
	<style>
	canvas{
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}
	</style>

	<div class="col-12">
		<canvas id="ta_sales_year"></canvas>
	</div>

	<div class="col-12">
		<canvas id="ta_sales_monthsum"></canvas>
	</div>

	<div class="col-12">
		<canvas id="ta_sales_monthcount"></canvas>
	</div>

    {% include 'ta_sales_year.html' %}
    {% include 'ta_sales_monthsum.html' %}
    {% include 'ta_sales_monthcount.html' %}

    <script>
        window.onload = function() {
            var ctx1 = document.getElementById('ta_sales_year').getContext('2d');
            var ctx2 = document.getElementById('ta_sales_monthsum').getContext('2d');
            var ctx3 = document.getElementById('ta_sales_monthcount').getContext('2d');

            ctx1.canvas.height = 280;
            ctx2.canvas.height = 280;
            ctx3.canvas.height = 280;
            //ctx.render();

            window.myLine1 = new Chart(ctx1, config1);
            window.myLine2 = new Chart(ctx2, config2);
            window.myLine3 = new Chart(ctx3, config3);
        };
    </script>
{%  endblock %}