var lang_russian = {
                      "processing": "<i class='fa fa-cog fa-spin fa-3x fa-fw'></i>&nbsp;&nbsp;Подождите...",
                      "search": "Поиск:",
                      "lengthMenu": "&nbsp;&nbsp;_MENU_&nbsp;&nbsp;",
                      "info": "Записи с _START_ до _END_ из _TOTAL_ ",
                      "infoEmpty": "Записи с 0 до 0 из 0 записей",
                      "infoFiltered": "",
                      //"infoFiltered": "(_MAX_ всего)",
                      "infoPostFix": "",
                      "loadingRecords": "Загрузка записей...",
                      "zeroRecords": "Записи отсутствуют.",
                      "emptyTable": "В таблице отсутствуют данные",
                      "paginate": {
                        "first": "Первая",
                        "previous": "Пред.",
                        "next": "След.",
                        "last": "Посл."
                      },
                      "aria": {
                        "sortAscending": ": активировать для сортировки столбца по возрастанию",
                        "sortDescending": ": активировать для сортировки столбца по убыванию"
                      },
                      "buttons": {
                        "selectAll": "Выбрать все",
                        "selectNone": "Снять выбор"
                      }
                    };