{% load staticfiles %}
{% load cache %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Фарм-Аналитика</title>
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css"  href="{% static "dataTables/datatables.min.css" %}">
    <link rel="stylesheet" href="{% static "fonts/css/all.css" %}">
    <link rel="stylesheet" type="text/css"  href="{% static "jquery-ui/jquery-ui.structure.min.css" %}">
    <link rel="stylesheet" type="text/css"  href="{% static "jquery-ui/jquery-ui.theme.min.css" %}">
    <script type="text/javascript" src="{% static "jquery/jquery-1.12.4.min.js" %}"></script>
    <script type="text/javascript" src="{% static "bootstrap/js/bootstrap.bundle.min.js" %}"></script>
    <script type="text/javascript" src="{% static "dataTables/datatables.min.js" %}"></script>
    <script type="text/javascript" src="{% static "jquery-ui/jquery-ui-1.12.1.min.js" %}"></script>

    <style type="text/css">
        table.table-hover tbody tr td:hover {
            background-color: #bfbfe0;
        }
        .navbar-nav li:hover > ul.dropdown-menu {
            display: block;
        }
        .dropdown-submenu {
            position:relative;
        }
        .dropdown-submenu>.dropdown-menu {
            top:0;
            left:100%;
            margin-top:-6px;
        }

        /* rotate caret on hover */
        .dropdown-menu > li > a:hover:after {
            text-decoration: underline;
            transform: rotate(-90deg);
        }
    </style>
</head>
<body style="padding:60px 0 0 0;">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #0a76bf;">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarLeft" aria-controls="navbarLeft" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home' %}"><b>FarmAnalitics</b></a>

      <div class="collapse navbar-collapse" id="navbarLeft">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Данные <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Аналитика <span class="sr-only">(current)</span></a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'widgetpages:salesshedule' %}">График продаж</a></li>
              <li><a class="dropdown-item disabled" href="#">Анализ упаковок</a></li>
              <li><a class="dropdown-item disabled" href="#">Анализ средней цены</a></li>
              <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Конкурентный анализ</a>
                <ul class="dropdown-menu" aria-labelledby="dropdown1-1">
                    <li><a class="dropdown-item" href="{% url 'widgetpages:competitions_lpu' %}">По ЛПУ</a></li>
                    <li><a class="dropdown-item" href="{% url 'widgetpages:competitions_market' %}">По Рынкам</a></li>
                </ul>
              </li>
              <li><a class="dropdown-item disabled" href="#">Каналы финансирования</a></li>
              <li><a class="dropdown-item disabled" href="#">Доля</a></li>
              <li><a class="dropdown-item disabled" href="#">Анализ продаж</a></li>
              <li><a class="dropdown-item disabled" href="#">Анализ учреждений</a></li>
            </ul>
          </li>
        </ul>

        <ul class="navbar-nav mr-left">
          {% if bi_auth %}
              <li class="nav-item active">
            {% if user.is_authenticated %}
                <a class="nav-link" href="{% url "logout" %}"><i class="fa fa-torsos"></i>Выход ({{ user.username }})</a>
            {% else %}
                <a class="nav-link" href="{% url "login" %}"><i class="fa fa-torsos"></i>Вход</a>
            {% endif %}
              </li>
          {% endif %}

          {% if user.is_superuser or user.is_staff %}
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'admin:index' %}"><i class="fa fa-cogs"></i></a>
              </li>
          {% endif %}
         </ul>
      </div>
    </nav>

    {% if system_message %}
    <div class="alert {{ system_message.type }} alert-dismissible fade show" role="alert">
      <span>{{ system_message.text }}</span>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %}

    {% block content %}

    <main role="main">
      {% block main-content %}
      {% block body %} {% endblock %}  {# body #}
          <br>
      {% endblock %}  {# main-content #}

        <!-- Example row of columns -->
    </main>
    {% endblock %}  {# content #}
    {% block js-block0 %}    {% endblock %}
    {% block js-block1 %}    {% endblock %}
    {% block js-block2 %}    {% endblock %}
</body>

</html>