<script>
    var config1 = {
        type: 'bar',
        data: {
            labels: [{% for name in data.budgets %}'{{ name }}'{% if not forloop.last %},{% endif %}{% endfor %}],
            datasets: [
                {% for key,year in data.pivot1.items %}
                {
                    label: '{{ key }}',
                    fontSize: 7,
                    backgroundColor: window.listColors[{{ forloop.counter0 }}],
                    borderColor: window.listColors[{{ forloop.counter0 }}],
                    data: [
                        {% for y in year %}{ x:'{{ y.budget_name }}', y:{{ y.summa|floatformat:"0" }} }{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    ],
                    fill: false,
                    tension: 0
                }{% if not forloop.last %},{% endif %}
            {% endfor %}
            ]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            title: {
                display: true,
                text: 'Каналы финансирования'
            },
            tooltips: {
                mode: 'index',
                intersect: false,
            },
            hover: {
                mode: 'nearest',
                intersect: true
            },
            scales: {
                xAxes: [{
                    display: true,
                    ticks: {
                        autoSkip: false
                    },
                    scaleLabel: {
                        display: false,
                        labelString: 'Бюджет'
                    }
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Сумма (тыс.руб.)'
                    }
                }]
            }
        }
    };


    function ConfigUpdate1(data, src_id) {
        labels_data = [];
        data.data.budgets.forEach(function(name) {
           labels_data.push(name)
        });
        config1.data.labels = labels_data;

        //config1.data.datasets.forEach(function(datasets) { datasets.pop() });
        config1.data.datasets = [];

        var cnt = 0;
        for (var i in data.data.pivot1) {
                var newDataset = {
                    label: i,
                    backgroundColor: window.listColors[cnt],
                    borderColor: window.listColors[cnt],
                    fontSize: 7,
                    data: []
                };
                cnt++;

                data.data.pivot1[i].forEach(function(d) {
                    newDataset.data.push({ x:d.budget_name, y:d.summa });
                });
                config1.data.datasets.push(newDataset);
        };
    };

    function ChartsUpdate1(data, src_id) {
        ConfigUpdate1(data, src_id);
        window.myLine1.update();
    }

function ChartsUpdate3(data, src_id) { };

</script>
