    <style>
        table.datatable tr {
            font-size: 0.9rem;
            font-weight: 400;
            line-height: 0.9rem;
        }
        .buttons-select-all, .buttons-select-none, .buttons-html5 {
            line-height: 1; !important;
        }

        .sticky-top {top:7rem;}
        #ta_competitions_table thead {background-color: rgb(108, 117, 125); color: #ffffff; }
        td.dt-right { text-align: right; padding-right:5px; !important;}
        table.dataTable.table-sm > thead > tr > th.dt-right { padding-right:1.4rem; !important; text-align: right; !important;}
        table.dataTable tr.dtrg-end td  { background-color: #ffffff; !important;}
        table.datatable tr.total td  { font-weight:bold; !important;}

    </style>
	<div class="col-12">
        <br>
		<table class="table table-sm table-hover display w-100 datatable" width="100%" id="ta_budgets_table">
        <thead class="thead-light position-sticky sticky-top">
            <tr>
                <th>Бюджет</th>
                <th>ЛПУ</th>
                <th>gr</th>
                {% for y in data.years_table %}<th class="dt-right">{{ y }}</th>{% endfor %}
                <th>ИТОГО</th>
            </tr>
        </thead>
        </table>
	</div>

<script>

function ChartsUpdate2(data, src_id) {
    // Скрываем/показываем столбцы в соответсвии с активностью кнопок по годам
    var s = [];
    var h = [];
    $('button[id^=year_]').each(function() {
        show_status = $(this).hasClass('active') & !$(this).hasClass('disabled');
        column = ta_budgets_table.columns( $(this).attr('data-id').toString()+':name' )

        if (column.visible()[0]!=show_status) {
            column.visible(show_status, false);
            if (!show_status) {
                if (ta_budgets_table.order()[0].indexOf(column[0][0])>=0)
                    ta_budgets_table.order([2,'asc'])
            }
        };
    });
    ta_budgets_table.ajax.reload( null, true );
}

function fixval ( data ) {
    if (data != '') val=( data / 1000 ).toFixed(0); else val='';
    return val;
}

function floatWithSpaces(x) {
    var parts = x.toString().split(".");
    parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, " ");
    return parts.join(".");
}

function intWithSpaces(x) {
    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, "&nbsp;");
}

var ta_budgets_table = $('#ta_budgets_table').DataTable({
                "dom": 'r<"row col-12"<f><l><B>> <"col-12 p-0"t> <"row"<"col-6"i><"col-6"p>>',
                buttons: ['excel'],
                select: true,
                //fixedHeader: true,
                //"scrollX": true,
                //responsive: true,
                "lengthMenu": [[50, 100, 250, 500, 1000], [50, 100, 250, 500, 1000]],
                "pageLength": 50,
                "columnDefs": [
                    { "name": "name", "targets": 0, "visible": true, "searchable": false },
                    { "name": "Nm", "targets": 1, "visible": true, "searchable": true },
                    { "name": "gr", "targets": 2, "visible": false, "searchable": false },
                    {% for y in data.years_table %}
                    { "name": "{{ y }}", "targets": {{ forloop.counter0|add:3 }}, "visible": true, "searchable": false,
                      "className": "dt-right", "orderSequence": ["desc","asc"],
                      render: function ( data, type, row ) { return intWithSpaces ( fixval( data ) ); } },{% endfor %}
                    { "name": "total", "targets": {{ data.last_column }}, "visible": true, "searchable": false, "orderable": false, "className": "dt-right",
                    render: function ( data, type, row ) { return intWithSpaces ( fixval( data ) ); } }
                ],
                "processing": true,
                "serverSide": true,
                //"stateSave" : true,
                "ordering":  true,
                "order": [[ {{ data.sort_col }}, "{{ data.sort_dir }}" ]],
                "ajax": {
                    //"url": "{ % url 'widgetpages:jcompetitions' %}",
                    "url": "{{ ajax_datatable_url }}",
                    "type": "POST",
                    "data": function ( d ) {
                        d.filters_ajax_request = JSON.stringify(make_request());
                        d.view_id = '{{ view.id }}';
                        d.org_id = '{{ org_id }}';
                        d.csrfmiddlewaretoken = '{{ csrf_token }}';
                    }
                },
                "createdRow": function( row, data, dataIndex ) {
                    if ( data[2] == "1" ) { $(row).addClass('total');  }
                 },
                "language": lang_russian
            });

    $(document).ready(function() {
        //ChartsUpdate2(null, null);
    });

</script>
