{% extends "ta_layout.html" %}
{% load widgettags %}
{% load staticfiles %}
{% load i18n %}

{% block page %}
    <style>
        table.datatable tr {
            font-size: 0.9rem;
            font-weight: 400;
            line-height: 0.9rem;
        }
        .buttons-select-all, .buttons-select-none, .buttons-html5 {
            line-height: 1; !important;
        }

        .sticky-top {top:3.5rem; }
        #ta_competitions_table thead {background-color: rgb(108, 117, 125); color: #ffffff; }
        th.dt-right, td.dt-right { text-align: right; padding-right:5px; !important;}
        table.dataTable.table-sm > thead > tr > th.dt-right { padding-right:5px; !important; }
        table.dataTable tr.dtrg-end td  { background-color: #ffffff; !important;}

    </style>
	<div class="col-12">
        <h5>&nbsp;{{ view.name }}</h5>
        <br>
		<table class="table table-sm table-hover display w-100 datatable" width="100%" id="ta_competitions_table">
        <thead class="position-sticky sticky-top">
            <tr>
                <th>ИНН</th>
                <th>ЛПУ</th>
                <th>Торговая марка</th>
                {% for y in data.year %}<th class="dt-right">{{ y }}</th>{% endfor %}
            </tr>
        </thead>
        </table>
	</div>

<script>
    function ChartsUpdate1(data, src_id) {
        ta_competitions_table.ajax.reload( null, true );

        // Скрываем/показываем столбцы в соответсвии с активностью кнопок по годам
        var s = [];
        var h = [];
        $('button[id^=year_]').each(function() {
            ta_competitions_table.columns($(this)
                .attr('data-id').toString()+':name')
                .visible($(this).hasClass('active') & !$(this).hasClass('disabled'),false);
        });
        ta_competitions_table.columns.adjust().draw( true );
    }
    function ChartsUpdate2(data, src_id) {
    }
    function ChartsUpdate3(data, src_id) {
    }
</script>
{% endblock %}

{% block afterpage %}
<script type="text/javascript">

function fixval ( data ) {
    if (data != '') val=( data / 1000 ).toFixed(0); else val='';
    return val;
}

function floatWithSpaces(x) {
    var parts = x.toString().split(".");
    parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, " ");
    return parts.join(".");
}

function intWithSpaces(x) {
    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");
}

var ta_competitions_table = $('#ta_competitions_table').DataTable({
                "dom": '<"row"<f><l><B><r>><"row"<"col-12"t>><"row"<"col-12"p><"col-12"i>>',
                ordering:  false,
                buttons: ['excel'],
                select: true,
                //fixedHeader: true,
                //"scrollX": true,
                //responsive: true,
                "pageLength": 25,
                "columnDefs": [
                    { "name": "Org_CustINN", "targets": 0 , "visible": false, "searchable": true },
                    { "name": "Org_CustNm", "targets": 1, "visible": false, "searchable": true },
                    { "name": "name", "targets": 2, "visible": true, "searchable": false },
                    {% for y in data.year %}
                    { "name": "{{ y }}", "targets": {{ forloop.counter0|add:3 }}, "visible": true, "searchable": false,
                      "className": "dt-right",
                      render: function ( data, type, row ) { return intWithSpaces ( fixval( data ) ); } }{% if not forloop.last %},{% endif %}{% endfor %}
                ],
                "processing": true,
                "serverSide": true,
                //"stateSave" : true,
                "ajax": {
                    "url": "{% url 'widgetpages:jcompetitions' %}",
                    "type": "POST",
                    "data": function ( d ) {
                        d.filters_ajax_request = JSON.stringify(filters_ajax_request);
                        d.csrfmiddlewaretoken = '{{ csrf_token }}';
                    }
                },
                order: [[1, 'asc']],
                rowGroup: {
                    startRender: function (rows, group) {
                        return $('<tr class="group" style="background-color:yellow;"/>')
                        .append( '<td colspan="'+rows.columns().header().length+'">'+group+'</td>' )
                    },
                    endRender: function (rows, group) {
                        var container = $('<tr class="group"/>');
                        container.append('<td>ИТОГО:</td>');
                        var i = 3;
                        while (i<rows.columns().header().length) {
                            if (rows.column(i).visible()) {
                                var subtotalSum = rows
                                    .data()
                                    .pluck(i)
                                    .reduce(function (a, b) {
                                        return a + b * 1;
                                    }, 0) / 1000;
                                if ( subtotalSum != 0 ) out = intWithSpaces( subtotalSum.toFixed(0) ); else out = '';
                                container.append('<td class="dt-right">' + out + '</td>');
                            };
                            i++;
                        }
                        return $(container)
                    },
                    dataSrc: 1
                },
                "language": lang_russian
            });

ta_competitions_table.on('responsive-resize', function (event, datatable, columns) {
    // show/ hide group-end cells for columns that became visible/ invisible
    //var activeColumns = {};

    //activeColumns = columns.filter(function (value, index) {
    //    return (value === true || value === false) ? true : false;
    //});

    $('tr.dtrg-end').each(function () {
        $('td', this).css('display', 'none');
    });
});

</script>
{%  endblock %}