<script type="text/javascript">
var timerID = 0;

// Спец фильтр, который скрывает строки с установленным полем DISABLED  в таблицах Datatables
$.fn.dataTable.ext.search.push(
    function( settings, data, DataIndex ) {
        var disabled = settings.aoData[DataIndex]._aData.disabled;
        if (disabled == '0')
            return true
        else
            return false;
    }
);

function processAjaxData(data, src_id) {

    {% for flt in filters %}
        {% if flt.type == 'btn' %}
            $('button[id^={{ flt.id }}_]').addClass('disabled');
            for (var i in data.filters.{{ flt.id }}.data) $('#{{ flt.id }}_'+data.filters.{{ flt.id }}.data[i].iid).removeClass('disabled');
        {% endif %}
        {% if flt.type == 'tbl' %}
            // Скрываем (дисаблим) строки только если перегрузка не иницирована этой же таблицей
            if (src_id != '{{ flt.id }}_') {
                tbl_{{ flt.id }}.data().each(function (d) {
                    d.disabled = '1';
                });
                for (var i in data.filters.{{ flt.id }}.data) {
                    d = tbl_{{ flt.id }}.row('#{{ flt.id }}_' + data.filters.{{ flt.id }}.data[i].iid);
                    if (d && d.data()) d.data().disabled = '0';
                };
                tbl_{{ flt.id }}.draw('full-hold');
            }
        {% endif %}
        {% if flt.type == 'ajx' %}
            // Таблицу перегружаем только если перегрузка не иницирована этой же таблицей
            if (src_id != '{{ flt.id }}_') tbl_{{ flt.id }}.ajax.reload( null, true );
        {% endif %}
    {% endfor %}

    ChartsUpdate1(data,src_id);
    ChartsUpdate2(data,src_id);
    ChartsUpdate3(data,src_id);
}

function make_request() {
    {% for flt in filters %}
        {% if flt.type == 'btn' %}
            // Создаем список активных кнопок
            var arr = [];
            $('button[id^={{ flt.id }}_].active').each(function() {
                arr.push($(this).attr('data-id'))
            });
            var {{ flt.id }}_active = arr.join(',');
        {% endif %}

        {% if flt.type == 'ajx' or flt.type == 'tbl' %}
            var {{ flt.id }}_active = {{ flt.id }}_selected.join(',');
        {% endif %}
    {% endfor %}

    market_type = $('#serv_market').val();
    own_type = $('#serv_own').val();

    if ($('#empl-all').hasClass('active')) empl_all = 1; else empl_all = 0;

    filters_ajax_request = {{% for flt in filters %}
                            '{{ flt.id }}_active': {{ flt.id }}_active,
                            '{{ flt.id }}_select': {{ flt.id }}_selectAll,
                            {% endfor %}
                            'market_type': market_type,
                            'own_type': own_type,
                            'empl_all': empl_all
                            //'csrfmiddlewaretoken': '{ { csrf_token }}'
    }

    return filters_ajax_request;
}

function query_data() {
    action_url = '{{ ajax_filters_url }}';
    make_request();

    if (timerID) clearTimeout(timerID);
    timerID = setTimeout(function () {
        $.ajax({
            type: 'POST',
            url: action_url,
            //traditional: true,
            data: {
                'filters_ajax_request' : JSON.stringify(make_request()),
                'csrfmiddlewaretoken' : '{{ csrf_token }}'
            },
            //data: filters_ajax_request,
            success: function (data) {
                processAjaxData(data, src_id);
            },
            error: function (xhr, str) {
                    alert('Error loading data. ' + str);
            }
        }) }, 500);

}

$(document).on('click', '.btn-filter:not(.disabled)', function(event) {
    if (event) ctrlPress = (event.ctrlKey == true); else ctrlPress = false;
    src_id = $(this).attr('id').substr(0,5);

    {% for flt in filters %}
        {% if flt.type == 'btn' %}
            // С нажатой ctrl работает мультивыделение кнопок выбора сотрудников
            if ((!ctrlPress) & (!$('#{{ flt.id }}-ctrl').hasClass('active')))
            if ($(this).attr('id').substr(0,5) == '{{ flt.id }}_') {
               $('button[id^={{ flt.id }}_].active').removeClass('active');
               $(this).addClass('active');
            };

            // Окрашиваем кнопку Выбрать ВСЕ в зависимости от количества выбранных кнопок
            if ($('button[id^={{ flt.id }}_].active').length == $('button[id^={{ flt.id }}_]').length )
                $('#{{ flt.id }}-check').addClass('active');
            else
                $('#{{ flt.id }}-check').removeClass('active');
        {% endif %}
    {% endfor %}

    // Если нажата обычная кнопка empl_ (не empl-all) сбрасываем empl-all
    if ($(this).attr('id').substr(0,5) == 'empl_') {
       $('#empl-all').removeClass('active');
    };

    query_data();

    return true;
});

function test_timeout(tt) {
    $('button[id^=empl_]').not(':disabled').each(function() {
       if (Math.floor(Math.random() * 2))
           $(this).addClass('active');
        else
           $(this).removeClass('active');
    });
    query_data();

    if ($('#serv-test').hasClass('active'))
       setTimeout(function () { test_timeout(tt); }, tt);
}

$(document).on('click', '#serv-test', function(event) {
    src_id = 'empl_';
    test_timeout(parseInt( $('#test_time').val() )*1000 );
});

$('select[id^=serv_]').on('change', function() {
  src_id = 'empl_';
  query_data();

    // задаём время, через которое наш cookie истечёт
    var date = new Date();
    date.setDate(date.getDate() + 7);

    // записываем cookie
    document.cookie = 'serv_market=' + $('#serv_market').val() +'; path=/; expires=' + date.toUTCString();
    document.cookie = 'serv_own=' + $('#serv_own').val() +'; path=/; expires=' + date.toUTCString();
});

// возвращает cookie с именем name, если есть, если нет, то undefined
function getCookie(name) {
    var matches = document.cookie.match(new RegExp(
            "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
    ));
    return matches ? decodeURIComponent(matches[1]) : undefined;
}

cookie = getCookie('serv_market');
if (cookie) { $('#serv_market').val(cookie); }
//cookie = getCookie('serv_own');
//if (cookie) { $('#serv_own').val(cookie); }
//make_request();

</script>