<script type="text/javascript">
var timerID = 0;

function processAjaxData(data, src_id) {

    {% for flt in filters %}
        {% if flt.type == 'btn' %}
            $('button[id^={{ flt.id }}_]').addClass('disabled');
            for (var i in data.filters.{{ flt.id }}.data) $('#{{ flt.id }}_'+data.filters.{{ flt.id }}.data[i].iid).removeClass('disabled');
        {% endif %}
        {% if flt.type == 'tbl' %}
            // Таблицу перегружаем только если перегрузка не иницирована этой же таблицей
            if (src_id != '{{ flt.id }}_') tbl_{{ flt.id }}.ajax.reload( null, true );
        {% endif %}
    {% endfor %}

    ChartsUpdate1(data);
    ChartsUpdate2(data);
    ChartsUpdate3(data);
}

$(document).on('click', '.btn-filter:not(.disabled)', function(event) {
    action_url = '{{ ajax_url }}';
    ctrlPress = (event.ctrlKey == true);
    src_id = $(this).attr('id').substr(0,5);

    {% for flt in filters %}
        {% if flt.type == 'btn' %}
            // С нажатой ctrl работает мультивыделение кнопок выбора сотрудников
            if ((!ctrlPress) & (!$('#{{ flt.id }}-ctrl').hasClass('active')))
            if ($(this).attr('id').substr(0,5) == '{{ flt.id }}_') {
               $('button[id^={{ flt.id }}_].active').removeClass('active');
               $(this).addClass('active');
            };
            // При нажатии на кнопку Выбрать ВСЕ - выделяем или снимаем выделение со всех кнопок сотрудников
            if ($(this).attr('id') == '{{ flt.id }}-check')
                if ($('#{{ flt.id }}-check').hasClass('active')) $('button[id^={{ flt.id }}_]').addClass('active')
                else $('button[id^={{ flt.id }}_]').removeClass('active');
            // Создаем список активных кнопок сотрудников
            var arr = [];
            $('button[id^={{ flt.id }}_].active').each(function() {
                arr.push($(this).attr('data-id'))
            });
            var {{ flt.id }}_active = arr.join(',');
        {% endif %}

        {% if flt.type == 'tbl' %}
            var {{ flt.id }}_active = {{ flt.id }}_selected.join(',');
        {% endif %}
    {% endfor %}

    filters_ajax_request = {{% for flt in filters %}
                            '{{ flt.id }}_active': {{ flt.id }}_active,
                            '{{ flt.id }}_select': {{ flt.id }}_selectAll,
                            {% endfor %}
                            'csrfmiddlewaretoken': '{{ csrf_token }}' }

    if (timerID) clearTimeout(timerID);
    timerID = setTimeout(function () {
        $.ajax({
            type: 'POST',
            url: action_url,
            data: filters_ajax_request,
            success: function (data) {
                processAjaxData(data, src_id);
            },
            error: function (xhr, str) {
                    alert('Error loading data. ' + str);
            }
        }) }, 500);
    return true;
});

</script>