<style>
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #003090;
    border-color: #005cbf;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show > .btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #007bff;
    border-color: #005cbf;
}
table.datatable tr {
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 0.9rem;
}
.buttons-select-all, .buttons-select-none .buttons-html5 {
    line-height: 1; !important;
}

.btn-srv {
    width: 30px;
    height: 30px;
    border-radius: 4px;
    text-align: center;
    padding: 0 0 0 0;
    font-size: 16px;
}

.card-body {
    padding: 1rem;
}
.card-header {
    padding-top:0.2rem;
    padding-bottom:0.2rem;
}

div.dataTables_wrapper div.dataTables_filter input {
    width: 150px; !important;
}
</style>

<script type="text/javascript">
var filters_ajax_request = {};
var lang_russian = {
                      "processing": "Подождите...",
                      "search": "Поиск:",
                      "lengthMenu": "&nbsp;&nbsp;_MENU_&nbsp;&nbsp;",
                      "info": "Записи с _START_ до _END_ из _TOTAL_ ",
                      "infoEmpty": "Записи с 0 до 0 из 0 записей",
                      "infoFiltered": "(_MAX_ всего)",
                      "infoPostFix": "",
                      "loadingRecords": "Загрузка записей...",
                      "zeroRecords": "Записи отсутствуют.",
                      "emptyTable": "В таблице отсутствуют данные",
                      "paginate": {
                        "first": "Первая",
                        "previous": "Пред.",
                        "next": "След.",
                        "last": "Посл."
                      },
                      "aria": {
                        "sortAscending": ": активировать для сортировки столбца по возрастанию",
                        "sortDescending": ": активировать для сортировки столбца по убыванию"
                      },
                      "buttons": {
                        "selectAll": "Выбрать все",
                        "selectNone": "Снять выбор"
                      }
                    };
</script>