  <div class="card">
    <div class="card-header" style="background-color: #ddddff;" id="heading_serv">
      <div class="row">
          <div class="col-6">
              <h5 class="mb-0">
                <button style="padding-left:0px;" class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse_serv" aria-expanded="true" aria-controls="collapse_serv">
                  <i class="fa fa-cog"></i> Настройки
                </button>
              </h5>
          </div>
          <div class="col-6 text-right" style="padding-top:0.3rem;">
              <button type="button" id="serv-collapse" class="btn btn-sm btn-outline-primary inline btn-srv" title="Свернуть все" onclick="$('.collapse').collapse('hide');"><i class="fa fa-angle-up"></i></button>
              <button type="button" id="serv-close" class="btn btn-sm btn-outline-primary inline btn-srv" title="Закрыть" onclick="closeNav()"><i class="fa fa-times"></i></button>
          </div>
      </div>
    </div>

    <div id="collapse_serv" class="collapse" aria-labelledby="heading_serv">
      <div class="card-body">
          <!--<div class="row"><div class="container">
            <button type="button" id="serv-test" class="btn btn-secondary btn-sm inline" data-toggle="button" aria-pressed="false" autocomplete="off">Автотест</button>
            Задержка, сек.: <input type="text" class="form-control-sm inline" id="test_time" style="width: 30px;" value="5">
          </div></div>-->
          <div class="row"><div class="container" style="margin-top:5px">
          {% if view.select_market_type %}
              <select class="form-control form-control-sm" id="serv_market" autocomplete="off">
                      <option {% if view.default_market_type == 1 %}selected{% endif %} value="1">По аукциону</option>
                      <option {% if view.default_market_type == 2 %}selected{% endif %} value="2">По контракту</option>
              </select>
          {% endif %}
          {% if view.select_own %}
              <select class="form-control form-control-sm" id="serv_own" autocomplete="off">
                      <option {% if view.default_own == 1 %}selected{% endif %} value="1">Свой рынок</option>
                      <option {% if view.default_own == 2 %}selected{% endif %} value="2">Чужой рынок</option>
                      <option {% if view.default_own == 3 %}selected{% endif %} value="3">Все рынки</option>
              </select>
          {% endif %}
          {% if view.select_prod_type %}
              <select class="form-control form-control-sm" id="serv_prod" autocomplete="off">
                      <option {% if view.default_prod_type == 1 %}selected{% endif %} value="1">МНН</option>
                      <option {% if view.default_prod_type == 2 %}selected{% endif %} value="2">Торговая марка</option>
              </select>
          {% endif %}
          {% if view.select_sku %}
              <select class="form-control form-control-sm" id="serv_sku" autocomplete="off">
                      <option {% if view.default_sku == 0 %}selected{% endif %} value="0">Не показывыть фасовку</option>
                      <option {% if view.default_sku == 1 %}selected{% endif %} value="1">Показывать фасовку</option>
              </select>
          {% endif %}
          </div></div>
      </div>
    </div>
  </div>
