
  <div class="card">
    <div class="card-header" id="heading_{{ flt.id }}">
      <div class="row">
          <div class="col-6">
              <h5 class="mb-0">
                <button style="padding-left:0px;" class="btn btn-link{% if flt.expanded != 'true' %} collapsed{% endif %}" type="button" data-toggle="collapse" data-target="#collapse_{{ flt.id }}" aria-expanded="true" aria-controls="collapse_{{ flt.id }}">
                    {% if flt.icon %}<i class="fa fa-{{ flt.icon }}"></i> {% endif %}{{ flt.name }}
                </button>
              </h5>
          </div>
          <div class="col-6 text-right" style="padding-top:0.3rem;">
              {% if flt.id == 'empl' %}
                <button style="padding-right:1px;padding-bottom:1px;" type="button" id="empl-all" class="btn btn-sm btn-outline-primary inline btn-srv btn-filter" data-toggle="button" aria-pressed="false" autocomplete="off" title="Без учета Target"><i class="fa fa-check-circle"></i></button>
              {% endif %}
              {% if not flt.only_one_select %}
              <button type="button" id="{{ flt.id }}-ctrl" class="btn btn-sm btn-outline-primary inline btn-srv" data-toggle="button" aria-pressed="false" autocomplete="off" title="Мультивыбор"><i class="fa fa-list"></i></button>
              <button type="button" id="{{ flt.id }}-check" class="btn btn-sm btn-outline-primary inline active btn-srv btn-filter" title="Выбрать/отменить все"><i class="fa fa-check"></i></button>
              {% endif %}
          </div>
      </div>
    </div>

    <div id="collapse_{{ flt.id }}" class="collapse {% if flt.expanded == 'true' %} show{% endif %}" aria-labelledby="heading_{{ flt.id }}">
      <div class="card-body">
        {% if flt.type == 'btn' %}
              {% for e in flt.data %}
                <button type="button" id='{{ flt.id }}_{{ e.iid }}' data-id="{{ e.iid }}" class="btn btn-secondary btn-sm active inline btn-filter {% if flt.data0 and e.iid not in flt.data0 %}disabled{% endif %}" data-toggle="button" aria-pressed="false" autocomplete="off" style="margin-top:2px">{{ e.name }}</button>
              {% endfor %}
        {% endif %}
        {% if flt.type == 'ajx' or flt.type == 'tbl' %}
              <table class="table table-sm table-hover display w-100 datatable" width="100%" id="tbl_{{ flt.id }}">
              </table>
        {% endif %}
      </div>
    </div>
  </div>

<script type="text/javascript">
var {{ flt.id }}_selectAll = 0;
var {{ flt.id }}_selected = [];
</script>

{% if flt.type == 'btn' %}
<script type="text/javascript">
// Выделяет все кнопки либо сбрасывает ее выделение
function {{ flt.id }}_check( mode ) {
    if (mode) {
        $('#{{ flt.id }}-check').addClass('active');
        $('button[id^={{ flt.id }}_]').addClass('active');
    }
    else {
        $('#{{ flt.id }}-check').removeClass('active');
        $('button[id^={{ flt.id }}_]').removeClass('active');
    }
    // чистим массив с идентификаторами выделенных/не выделенных строк
    {{ flt.id }}_selected.length = 0;
}

// При нажатии на кнопку Выбрать ВСЕ - выделяем или снимаем выделение со всех кнопок
$('#{{ flt.id }}-check').on('click', function () {
    {{ flt.id }}_check( !$('#{{ flt.id }}-check').hasClass('active') );
});
</script>
{% endif %}

{% if flt.type == 'ajx' or flt.type == 'tbl' %}
<script type="text/javascript">
var {{ flt.id }}_data = [
                    {% for e in flt.data %} {DT_RowId:'{{ flt.id }}_{{ e.iid }}', iid: '{{ e.iid }}', name:'{{ e.name }}', ext:'{{ e.ext }}', disabled:'0' } {% if not forloop.last %},{% endif %}
                    {% endfor %}
                ]

var tbl_{{ flt.id }} = $('#tbl_{{ flt.id }}').DataTable({
                "dom": '<"row"<f><l><B><r>><"row"<"col-12"t>><"row"<"col-12"p><"col-12"i>>',
                buttons:[],
                ordering:  true,
                select: true,
                "pageLength": {% if flt.pagelength %}{{ flt.pagelength }}{% else %}10{% endif %},
                "columnDefs": [
                    { "name": "name", "targets": [ 0 ], "visible": true, "searchable": true },
                    { "name": "ext", "targets": [ 1 ], "visible": false, "searchable": true },
                    { "name": "iid", "targets": [ 2 ], "visible": false, "searchable": false }
                    {% if flt.type == 'tbl' %}
                       ,{ "name": "disabled", "targets": [ 3 ], "visible": false, "searchable": false }
                    {% endif %}
                ],
                {% if flt.type == 'ajx' %}
                    "searchDelay": 1000,
                    "processing": true,
                    "serverSide": true,
                    //"stateSave" : true,
                    "ajax": {
                        //"url": "{ % url 'widgetpages:jdata' flt.id %}",
                        "url": "{{ ajax_filters_tbl_url }}",
                        "type": "POST",
                        "data": function ( d ) {
                            d.filters_ajax_request = JSON.stringify(filters_ajax_request);
                            //d.filters_ajax_request = JSON.stringify(make_request());
                            //d.view_id = '{ { view.id }}';
                            d.flt_id = '{{ flt.id }}'
                            d.org_id = '{{ org_id }}';
                            d.csrfmiddlewaretoken = '{{ csrf_token }}';
                        }
                    },
                {% endif %}
                {% if flt.type == 'tbl' %}
                    data: {{ flt.id }}_data,
                    columns: [ { data: 'name' }, { data: 'ext' }, { data: 'iid' }, { data: 'disabled' } ],
                {% endif %}
                "rowCallback": function( row, data ) {
                    $(row).addClass('btn-filter');
                    $(row).attr('id', '{{ flt.id }}_'+data{% if flt.type == 'ajx' %}[2]{% else %}.iid{% endif %}.toString());
                    if ( $.inArray(data{% if flt.type == 'ajx' %}[2]{% else %}.iid{% endif %}, {{ flt.id }}_selected) !== -1 ) {
                        if ({{ flt.id }}_selectAll) $(row).removeClass('selected');
                        else $(row).addClass('selected');
                    } else {
                         if ({{ flt.id }}_selectAll) $(row).addClass('selected');
                        else $(row).removeClass('selected');
                    }
                },
                select: { style: 'api' },
                "language": lang_russian
            });

$(tbl_{{ flt.id }}.column(0).header()).html('<b>{{ flt.name }}</b>');



$('#tbl_{{ flt.id }}_filter input').off('keyup.DT input.DT');
var {{ flt.id }}_searchDelay = null;

$('#tbl_{{ flt.id }}_filter input').on('keyup', function(event) {

    if ([16,17,18,27].indexOf(event.keyCode) !== -1) // ctrl, alt, shift, esc
        return;

    if (event.keyCode == 13) curTimeout = 0; else curTimeout = 2000;

    var search = $('#tbl_{{ flt.id }}_filter input').val();
    clearTimeout({{ flt.id }}_searchDelay);
    {{ flt.id }}_searchDelay = setTimeout(function () {
        if (search != null) {
            tbl_{{ flt.id }}.search(search).draw();
        }
    }, curTimeout);
});

// Выделяет всю таблицу либо сбрасывает ее выделение
function {{ flt.id }}_check( mode ) {
    if (mode) {
        tbl_{{ flt.id }}.rows().select();
        {{ flt.id }}_selectAll = 1;
        $('#{{ flt.id }}-check').addClass('active');
    }
    else {
        tbl_{{ flt.id }}.rows().deselect();
        {{ flt.id }}_selectAll = 0;
        $('#{{ flt.id }}-check').removeClass('active');
    }
    // чистим массив с идентификаторами выделенных/не выделенных строк
    {{ flt.id }}_selected.length = 0;
}

$('#{{ flt.id }}-check').on('click', function () {
    // При нажатии на кнопку Выбрать ВСЕ - выделяем или снимаем выделение со всех ЛПУ
    {{ flt.id }}_check( !$('#{{ flt.id }}-check').hasClass('active') );
});

$('#tbl_{{ flt.id }} tbody').on('click', 'tr', function (event) {
    var id = tbl_{{ flt.id }}.row(this).data(){% if flt.type == 'ajx' %}[2]{% else %}.iid{% endif %};
    var ctrlPress = (event.ctrlKey == true);

    // Если не включен мультивыбор сначала сбрасываем все выбор
    if ((!ctrlPress) & (!$('#{{ flt.id }}-ctrl').hasClass('active')) | ( '{{ flt.only_one_select }}' === '1' ) ) {
        {{ flt.id }}_check(0);
    }

    var thisSelected = $(this).hasClass('selected');

    // Ищем наш элемент в массиве запомненных selected/deselected элементов
    var index = $.inArray(id, {{ flt.id }}_selected);

    if (thisSelected & {{ flt.id }}_selectAll) {
        // делаем деселект и добавляем в массив selected (который сейчас какбы массив deselected)
        $(this).removeClass('selected');
        if ( index === -1 ) {{ flt.id }}_selected.push( id );
    }

    if (thisSelected & !{{ flt.id }}_selectAll) {
        // делаем деселект и удаляем из массива selected
        $(this).removeClass('selected');
        if ( index !== -1 ) {{ flt.id }}_selected.splice( index, 1 );
    }

    if (!thisSelected & {{ flt.id }}_selectAll) {
        // делаем селект и удаляем из массива selected (который сейчас какбы массив deselected)
        $(this).addClass('selected');
        if ( index !== -1 ) {{ flt.id }}_selected.splice( index, 1 );
    }

    if (!thisSelected & !{{ flt.id }}_selectAll) {
        // делаем селект и добавляем в массив selected
        $(this).addClass('selected');
        if ( index === -1 ) {{ flt.id }}_selected.push( id );
    }

} );

// Делаем Выбор на всех элементах таблицы
{% if not flt.only_one_select %}
    {{ flt.id }}_check(1);
{% endif %}

</script>
{% endif %}