<style>
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #003090;
    border-color: #005cbf;
}
</style>
  <div class="card">
    <div class="card-header" id="headingOne" style="padding-top:0.2rem;padding-bottom:0.2rem;">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Таргет
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne">
      <div class="card-body">
            <form id="empl_form" method="post" action="{% url 'widgetpages:f_emplsupd' %}">
             {% csrf_token %}
              {% for t in target %}
                <button type="button" id='empl_{{ t.id }}' data-id="{{ t.id }}" class="btn btn-primary btn-sm active inline" data-toggle="button" aria-pressed="false" autocomplete="off" style="margin-top:2px">{{ t.name }}</button>
              {% endfor %}
            </form>
          </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingTwo" style="padding-top:0.2rem;padding-bottom:0.2rem;">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          Рынок
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo">
      <div class="card-body">
              {% for m in market %}
                <button type="button" class="btn btn-primary active btn-sm inline" data-toggle="button" aria-pressed="false" autocomplete="off" style="margin-top:2px">{{ m.market }}</button>
              {% endfor %}
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree" style="padding-top:0.2rem;padding-bottom:0.2rem;">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
          Год поставки
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree">
      <div class="card-body">
              {% for y in year %}
                <button type="button" class="btn btn-primary active btn-sm inline" data-toggle="button" aria-pressed="false" autocomplete="off" style="margin-top:2px">{{ y.delivery_year}}</button>
              {% endfor %}
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingFour" style="padding-top:0.2rem;padding-bottom:0.2rem;">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
          Грузополучатель
        </button>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour">
      <div class="card-body">
          <div class="btn-group-vertical">
              <table class="table table-sm table-hover display w-100" width="100%" id="entityTable">
                <thead>
                <tr style="font-size: 0.9rem; font-weight: 400; line-height: 0.8rem;">
                  <th scope="col" style="width:20px;text-align:left;padding-left:10px;"><input type="checkbox" id="checkAll"></th>
                  <th scope="col" style="width:100%;">ЛПУ</th>
                  <th scope="col" >ИНН</th>
                </tr>
              </thead>
              <tbody>
              {% for e in entity %}
                <tr style="font-size: 0.9rem; font-weight: 400; line-height: 0.8rem;" onclick="$('#lpu_{{ e.id }}').prop('checked',!$('#lpu_{{ e.id }}').prop('checked'));">
                    <td style="width:20px;"><input type="checkbox" id="lpu_{{ e.id }}" name="lpu_{{ e.id }}" checked></td>
                    <td style="width:100%;"><span title="{{ e.inn }} {{ e.entity }}">{{ e.entity }}</span></td>
                    <td style="pading-bottom:0;padding-top:0;">{{ e.inn }}</td>
                </tr>
              {% endfor %}
              </tbody>
              </table>
          </div>
      </div>
    </div>
  </div>

<script type="text/javascript">
$(document).ready( function () {
    $('#entityTable').DataTable({
            ordering:  true,
            "pageLength": 50,
            "columnDefs": [
                {
                    "targets": [ 2 ],
                    "visible": false,
                    "searchable": true
                }
            ],
            "language": {
                          "processing": "Подождите...",
                          "search": "Поиск:",
                          "lengthMenu": "_MENU_",
                          "info": "Записи с _START_ до _END_ из _TOTAL_ записей",
                          "infoEmpty": "Записи с 0 до 0 из 0 записей",
                          "infoFiltered": "(отфильтровано из _MAX_ записей)",
                          "infoPostFix": "",
                          "loadingRecords": "Загрузка записей...",
                          "zeroRecords": "Записи отсутствуют.",
                          "emptyTable": "В таблице отсутствуют данные",
                          "paginate": {
                            "first": "Первая",
                            "previous": "Пред.",
                            "next": "След.",
                            "last": "Посл."
                          },
                          "aria": {
                            "sortAscending": ": активировать для сортировки столбца по возрастанию",
                            "sortDescending": ": активировать для сортировки столбца по убыванию"
                          }
                        }
        });
});

// Установка/снятие всех чекбоксов в зависимотси от состояния чекбокса в заголовке
$('#checkAll').click(function() {
    $('input[type="checkbox"]').prop('checked',$(this).prop('checked'));
});

// Handle some 'empl_* button click
//$('button[id^=empl_]').on('click', function(event) {
$(document).on('click', 'button[id^=empl_]', function() {
    //msg = $('#empl_form').serialize();
    action_url = $('#empl_form').attr("action");

    var arr = [];
    $('button[id^=empl_].active').each(function() {
        arr.push($(this).attr('data-id'))
    });
    // then to get the JSON string
    // var jsonString = JSON.stringify(array);
    var empl_active = arr.join(',');

    $.ajax({
        type: 'POST',
        url: action_url,
        data: {'empl_active' : empl_active,
               'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        success: function (data) {},
        error: function (xhr, str) {}
    });
    return true;
});

</script>