<style>
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #003090;
    border-color: #005cbf;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show > .btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #007bff;
    border-color: #005cbf;
}
#lpuTable tr {
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 0.9rem;
}
.buttons-select-all, .buttons-select-none {
    line-height: 1; !important;
}

.btn-srv {
    width: 30px;
    height: 30px;
    border-radius: 4px;
    text-align: center;
    padding: 0 0 0 0;
    font-size: 16px;
}

</style>
  <div class="card">
    <div class="card-header" id="headingOne" style="padding-top:0.2rem;padding-bottom:0.2rem;">
      <div class="row">
          <div class="col-6">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Таргет
                </button>
              </h5>
          </div>
          <div class="col-6 text-right" style="padding-top:0.2rem;">
              <button type="button" id="target-ctrl" class="btn btn-sm btn-outline-primary inline btn-srv" data-toggle="button" aria-pressed="false" autocomplete="off" title="Мультивыбор"><i class="fa fa-list"></i></button>
              <button type="button" id="target-check" class="btn btn-sm btn-outline-primary buttons-select-all inline btn-srv active" data-toggle="button" aria-pressed="false" autocomplete="off" title="Выбрать/отменить все"><i class="fa fa-check"></i></button>
          </div>
      </div>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne">
      <div class="card-body">
            <form id="empl_form" method="post" action="{% url 'widgetpages:f_emplsupd' %}">
             {% csrf_token %}
                <button type="button" id='empl_0' data-id="0" class="btn btn-secondary btn-sm inline" data-toggle="button" aria-pressed="false" autocomplete="off" style="margin-top:2px">Без учета Таргет</button>
              {% for e in employee %}
                <button type="button" id='empl_{{ e.id }}' data-id="{{ e.id }}" class="btn btn-secondary btn-sm active inline" data-toggle="button" aria-pressed="false" autocomplete="off" style="margin-top:2px">{{ e.name }}</button>
              {% endfor %}
            </form>
          </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingTwo" style="padding-top:0.2rem;padding-bottom:0.2rem;">
      <div class="row">
          <div class="col-6">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                  Рынок
                </button>
              </h5>
          </div>
          <div class="col-6 text-right" style="padding-top:0.2rem;">
                  <button type="button" id="market-ctrl" class="btn btn-sm btn-outline-primary btn-srv" data-toggle="button" aria-pressed="false" autocomplete="off" title="Мультивыбор"><i class="fa fa-list"></i></button>
                  <button type="button" id="market-check" class="btn btn-sm btn-outline-primary buttons-select-all inline btn-srv active" data-toggle="button" aria-pressed="false" autocomplete="off" title="Выбрать/отменить все"><i class="fa fa-check"></i></button>
          </div>
      </div>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo">
      <div class="card-body">
              {% for m in market %}
                <button type="button" id='market_{{ m.id }}' data-id="{{ m.id }}" class="btn btn-secondary active btn-sm inline" data-toggle="button" aria-pressed="false" autocomplete="off" style="margin-top:2px">{{ m.name }}</button>
              {% endfor %}
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree" style="padding-top:0.2rem;padding-bottom:0.2rem;">
      <div class="row">
          <div class="col-6">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                  Год поставки
                </button>
              </h5>
          </div>
          <div class="col-6 text-right" style="padding-top:0.2rem;">
                  <button type="button" id="year-ctrl" class="btn btn-sm btn-outline-primary btn-srv" data-toggle="button" aria-pressed="false" autocomplete="off" title="Мультивыбор"><i class="fa fa-list"></i></button>
                  <button type="button" id="year-check" class="btn btn-sm btn-outline-primary buttons-select-all inline btn-srv active" data-toggle="button" aria-pressed="false" autocomplete="off" title="Выбрать/отменить все"><i class="fa fa-check"></i></button>
          </div>
      </div>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree">
      <div class="card-body">
              {% for y in year %}
                <button type="button" id='year_{{ y.PlanTYear }}' data-id="{{ y.PlanTYear }}" class="btn btn-secondary active btn-sm inline" data-toggle="button" aria-pressed="false" autocomplete="off" style="margin-top:2px">{{ y.PlanTYear }}</button>
              {% endfor %}
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingFour" style="padding-top:0.2rem;padding-bottom:0.2rem;">
      <div class="row">
          <div class="col-6">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                  Грузополучатель
                </button>
              </h5>
          </div>
          <div class="col-6 text-right" style="padding-top:0.2rem;">
                  <button type="button" id="lpu-ctrl" class="btn btn-sm btn-outline-primary btn-srv" data-toggle="button" aria-pressed="false" autocomplete="off" title="Мультивыбор"><i class="fa fa-list"></i></button>
                  <button type="button" id="lpu-check" class="btn btn-sm btn-outline-primary buttons-select-all inline btn-srv active" data-toggle="button" aria-pressed="false" autocomplete="off" title="Выбрать/отменить все"><i class="fa fa-check"></i></button>
          </div>
      </div>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour">
      <div class="card-body">
              <table class="table table-sm table-hover display w-100" width="100%" id="lpuTable">
              </table>
      </div>
    </div>
  </div>
    <div id="ajax-timer"></div>

<script type="text/javascript">
var timerID = 0;
var lpus = [
                    {% for l in lpu %} {DT_RowId:'lpu_id_{{ l.cust_id }}', cust_id: '{{ l.cust_id }}', name:'{{ l.name }}', inn:'{{ l.inn }}', disabled:'0' } {% if not forloop.last %},{% endif %}
                    {% endfor %}
                ]
var table = $('#lpuTable').DataTable({
                "dom": '<"row"<f><l><B><r>><"row"<"col-12"t>><"row"<"col-12"p><"col-12"i>>',
                buttons: [
                    'selectAll',
                    'selectNone',
                ],
                ordering:  true,
                "pageLength": 10,
                "columnDefs": [
                    {
                        "targets": [ 1 ],
                        "visible": false,
                        "searchable": true
                    },
                    {
                        "targets": [ 2 ],
                        "visible": false,
                        "searchable": false
                    },
                    {
                        "targets": [ 3 ],
                        "visible": false,
                        "searchable": false
                    }
                ],
                data: lpus,
                columns: [
                { data: 'name' },
                { data: 'inn' },
                { data: 'cust_id' },
                { data: 'disabled' }
                ],
//                "rowCallback": function( row, data ) {
//                    $(row).attr('data-id',data.id);
//                    $(row).addClass('entity');
//                    $('td:eq(1)', row).attr('style','width:100%;');
//                    $('td:eq(1)', row).html('<span title="'+data.id+' '+data.entity+'">'+data.entity+'</span>');
//                },
                "language": {
                              "processing": "Подождите...",
                              "search": "Поиск:",
                              "lengthMenu": "&nbsp;&nbsp;_MENU_&nbsp;&nbsp;",
                              "info": "Записи с _START_ до _END_ из _TOTAL_ записей",
                              "infoEmpty": "Записи с 0 до 0 из 0 записей",
                              "infoFiltered": "(отфильтровано из _MAX_ записей)",
                              "infoPostFix": "",
                              "loadingRecords": "Загрузка записей...",
                              "zeroRecords": "Записи отсутствуют.",
                              "emptyTable": "В таблице отсутствуют данные",
                              "paginate": {
                                "first": "Первая",
                                "previous": "Пред.",
                                "next": "След.",
                                "last": "Посл."
                              },
                              "aria": {
                                "sortAscending": ": активировать для сортировки столбца по возрастанию",
                                "sortDescending": ": активировать для сортировки столбца по убыванию"
                              },
                              "buttons": {
                                "selectAll": "Выбрать все",
                                "selectNone": "Снять выбор"
                              }
                            }
            });

$(table.column(0).header()).html('<b>ЛПУ</b>');
table.rows().select();


$('#lpuTable tbody').on( 'click', 'tr', function () {
    $(this).toggleClass('selected');
} );

$.fn.dataTable.ext.search.push(
    function( settings, data, DataIndex ) {
        var disabled = settings.aoData[DataIndex]._aData.disabled;
        if (disabled == '0')
            return true
        else
            return false;
    }
);

function processAjaxData(data) {
    var year_list = data.year_enabled;
    var market_list = data.market_enabled;
    var lpu_list = data.lpu_enabled;
    var i = 0;

    $('button[id^=year_]').addClass('disabled');
    for (var i in year_list) $('#year_'+year_list[i].PlanTYear).removeClass('disabled');

    $('button[id^=market_]').addClass('disabled');
    for (var i in market_list) $('#market_'+market_list[i].id).removeClass('disabled');

    table.data().each( function (d) {
        d.disabled = '1';
    } );

    for (var i in lpu_list) {
        d = table.row('#lpu_id_'+lpu_list[i].cust_id);
        if ( d && d.data() ) d.data().disabled = '0';
    }

    table.draw();

    ChartsUpdate1(data);
    ChartsUpdate2(data);
    ChartsUpdate3(data);
}

$(document).on('click', 'button[id^=empl_], button[id^=year_], button[id^=market_], #lpuTable tbody, .buttons-select-all, .buttons-select-none', function(event) {
    action_url = $('#empl_form').attr("action");

    ctrlPress = (event.ctrlKey == true);

    if ((!ctrlPress) & (!$('#target-ctrl').hasClass('active')))
    if ($(this).attr('id').substr(0,5) == 'empl_') {
       isActive = $(this).hasClass('active');
       $('button[id^=empl_].active').removeClass('active');
       if (isActive) $(this).addClass('active')
    };
    if ($(this).attr('id') == 'target-check')
        if ($('#target-check').hasClass('active')) $('button[id^=empl_]').addClass('active')
        else $('button[id^=empl_]').removeClass('active');

    var arr = [];
    $('button[id^=empl_].active').each(function() {
        arr.push($(this).attr('data-id'))
    });
    var empl_active = arr.join(',');

    if ((!ctrlPress) & (!$('#market-ctrl').hasClass('active')))
    if ($(this).attr('id').substr(0,7) == 'market_') {
       isActive = $(this).hasClass('active');
       $('button[id^=market_].active').removeClass('active');
       if (isActive) $(this).addClass('active')
    }
    if ($(this).attr('id') == 'market-check')
        if ($('#market-check').hasClass('active')) $('button[id^=market_]').addClass('active')
        else $('button[id^=market_]').removeClass('active');
    var arr = [];
    $('button[id^=market_].active').each(function() {
        arr.push($(this).attr('data-id'))
    });
    var market_active = arr.join(',');

    if ((!ctrlPress) & (!$('#year-ctrl').hasClass('active')))
    if ($(this).attr('id').substr(0,5) == 'year_') {
       isActive = $(this).hasClass('active');
       $('button[id^=year_].active').removeClass('active');
       if (isActive) $(this).addClass('active')
    }
    if ($(this).attr('id') == 'year-check')
        if ($('#year-check').hasClass('active')) $('button[id^=year_]').addClass('active')
        else $('button[id^=year_]').removeClass('active');
    var arr = [];
    $('button[id^=year_].active').each(function() {
        arr.push($(this).attr('data-id'))
    });
    var year_active = arr.join(',');

    arr = [];
    table.rows('.selected').every( function ( rowIdx, tableLoop, rowLoop ) {
        //if (this.data().disabled==0)
            arr.push(this.data().cust_id);
    } );
    var lpu_active = arr.join(',');

    if (timerID) clearTimeout(timerID);
    timerID = setTimeout(function () {
        $.ajax({
            type: 'POST',
            url: action_url,
            data: {
                'empl_active': empl_active,
                'lpu_active': lpu_active,
                'year_active': year_active,
                'market_active': market_active,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function (data) {
                //alert('Load was performed.');
                processAjaxData(data);
            },
            error: function (xhr, str) {
                alert('Error loading data. ' + str);
            }
        }) }, 500);
    return true;
});

</script>