<script type="text/javascript">
var timerID = 0;

function processAjaxData(data, src_id) {

    {% for flt in filters %}
        {% if flt.type == 'btn' %}
            $('button[id^={{ flt.id }}_]').addClass('disabled');
            for (var i in data.filters.{{ flt.id }}.data) $('#{{ flt.id }}_'+data.filters.{{ flt.id }}.data[i].iid).removeClass('disabled');
        {% endif %}
        {% if flt.type == 'tbl' %}
            // Таблицу перегружаем только если перегрузка не иницирована этой же таблицей
            if (src_id != '{{ flt.id }}_') tbl_{{ flt.id }}.ajax.reload( null, true );
        {% endif %}
    {% endfor %}

    ChartsUpdate1(data,src_id);
    ChartsUpdate2(data,src_id);
    ChartsUpdate3(data,src_id);
}

function query_data() {
    {% for flt in filters %}
        {% if flt.type == 'btn' %}
            // Создаем список активных кнопок сотрудников
            var arr = [];
            $('button[id^={{ flt.id }}_].active').each(function() {
                arr.push($(this).attr('data-id'))
            });
            var {{ flt.id }}_active = arr.join(',');
        {% endif %}

        {% if flt.type == 'tbl' %}
            var {{ flt.id }}_active = {{ flt.id }}_selected.join(',');
        {% endif %}
    {% endfor %}

    filters_ajax_request = {{% for flt in filters %}
                            '{{ flt.id }}_active': {{ flt.id }}_active,
                            '{{ flt.id }}_select': {{ flt.id }}_selectAll,
                            {% endfor %}
                            'csrfmiddlewaretoken': '{{ csrf_token }}' }

    if (timerID) clearTimeout(timerID);
    timerID = setTimeout(function () {
        $.ajax({
            type: 'POST',
            url: action_url,
            data: filters_ajax_request,
            success: function (data) {
                processAjaxData(data, src_id);
            },
            error: function (xhr, str) {
                    alert('Error loading data. ' + str);
            }
        }) }, 500);

}

$(document).on('click', '.btn-filter:not(.disabled)', function(event) {
    if (event) ctrlPress = (event.ctrlKey == true); else ctrlPress = false;
    src_id = $(this).attr('id').substr(0,5);

    {% for flt in filters %}
        {% if flt.type == 'btn' %}
            // С нажатой ctrl работает мультивыделение кнопок выбора сотрудников
            if ((!ctrlPress) & (!$('#{{ flt.id }}-ctrl').hasClass('active')))
            if ($(this).attr('id').substr(0,5) == '{{ flt.id }}_') {
               $('button[id^={{ flt.id }}_].active').removeClass('active');
               $(this).addClass('active');
            };

            // Окрашиваем кнопку Выбрать ВСЕ в зависимости от количества выбранных кнопок
            if ($('button[id^={{ flt.id }}_].active').length == $('button[id^={{ flt.id }}_]').length )
                $('#{{ flt.id }}-check').addClass('active');
            else
                $('#{{ flt.id }}-check').removeClass('active');
        {% endif %}
    {% endfor %}

    query_data();

    return true;
});

function test_timeout(tt) {
    action_url = '{{ ajax_url }}';
    $('button[id^=empl_]').not(':disabled').each(function() {
       if (Math.floor(Math.random() * 2))
           $(this).addClass('active');
        else
           $(this).removeClass('active');
    });
    query_data();

    if ($('#serv-test').hasClass('active'))
       setTimeout(function () { test_timeout(tt); }, tt);
}

$(document).on('click', '#serv-test', function(event) {
    src_id = 'empl_'
    test_timeout(5000);
});


</script>