{% extends "ta_main.html" %}
{% load i18n %}

{% block main-content %}
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron" style="padding: 2rem;">
        <div class="container">
          <h2 class="display-6">Платформа BI Monitor.</h2>
          <span class="badge badge-primary">{{ user.employee_user.all.0.org.name }}</span>
          <br>
          <br>
          <p><b>Приветствуем Вас, уважаемый(ая) {% if user.last_name %}{{ user.last_name }} {{ user.first_name }}{% else %}{{ user.username }}{% endif %}!</b></p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores cum eos nam officiis voluptate. Commodi eaque ex explicabo in labore laboriosam neque nostrum nulla, obcaecati praesentium repudiandae sint vero vitae?</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos dolor dolorem facilis id mollitia natus nesciunt nostrum quam quod sequi? Aliquid consequuntur exercitationem fugit nisi obcaecati optio perferendis recusandae veritatis?</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet consequuntur eos eveniet facilis, illo incidunt iusto laborum laudantium magnam magni minus natus nobis odit omnis placeat qui repudiandae saepe!</p>
          <hr class="my-4">
          <a class="btn btn-primary btn-sm" href="{% url 'widgetpages:salesshedule' %}" role="button">График продаж &raquo;</a>&nbsp;&nbsp;
          <a class="btn btn-primary btn-sm" href="{% url 'widgetpages:competitions_lpu' %}" role="button">Конкурентный анализ &raquo;</a>&nbsp;&nbsp;
          <a class="btn btn-primary btn-sm" href="{% url 'widgetpages:parts' %}" role="button">Доля &raquo;</a>&nbsp;&nbsp;
          <a class="btn btn-primary btn-sm" href="{% url 'widgetpages:sales_analysis' %}" role="button">Анализ продаж &raquo;</a>&nbsp;&nbsp;
          <a class="btn btn-primary btn-sm" href="{% url 'widgetpages:budgets' %}" role="button">Финансирование &raquo;</a>&nbsp;&nbsp;
          <a class="btn btn-primary btn-sm" href="{% url 'widgetpages:avg_price' %}" role="button">Средняя цена &raquo;</a>&nbsp;
        </div>
      </div>
{% endblock %}  {# content #}