{% extends "ta_main.html" %}
{% load staticfiles %}
{% load i18n %}

{% block main-content %}

        <div class="jumbotron media" style="padding: 1rem; margin:1rem;">
          <img src="{% static "\bim-logo.png" %}" class="align-self-start mr-3">
          <div class="media-body">
            <h2 class="display-6">Платформа BI Monitor.</h5>
            <p><b>Приветствуем Вас, уважаемый(ая) {% if user.last_name %}{{ user.last_name }} {{ user.first_name }}{% else %}{{ user.username }}{% endif %}!</b></p>
            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
            <p>Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
          </div>
        </div>

      <div class="container-fluid">
      <div class="row">
          <div class="col-3">
                <div class="card border-primary">
                  <h5 class="card-header bg-primary text-white">График продаж</h5>
                  <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium, ad asperiores assumenda at beatae deserunt doloribus dolorum error id illo labore nulla officia quam, quibusdam tempore ut.</p>
                    <a href="{% url 'widgetpages:salesshedule' %}" class="btn btn-primary">Перейти &raquo;</a>
                  </div>
                </div>
          </div>
          <div class="col-3">
                <div class="card border-primary">
                  <h5 class="card-header bg-primary text-white">Конкурентный анализ</h5>
                  <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium, ad asperiores assumenda at beatae deserunt doloribus dolorum error id illo labore nulla officia quam, quibusdam tempore ut.</p>
                    <a href="{% url 'widgetpages:competitions_lpu' %}" class="btn btn-primary">Перейти &raquo;</a>
                  </div>
                </div>
          </div>
          <div class="col-3">
                <div class="card border-primary">
                  <h5 class="card-header bg-primary text-white">Доля</h5>
                  <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium, ad asperiores assumenda at beatae deserunt doloribus dolorum error id illo labore nulla officia quam, quibusdam tempore ut.</p>
                    <a href="{% url 'widgetpages:parts' %}" class="btn btn-primary">Перейти &raquo;</a>
                  </div>
                </div>
          </div>
          <div class="col-3">
                <div class="card border-primary">
                  <h5 class="card-header bg-primary text-white">Анализ продаж</h5>
                  <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium, ad asperiores assumenda at beatae deserunt doloribus dolorum error id illo labore nulla officia quam, quibusdam tempore ut.</p>
                    <a href="{% url 'widgetpages:sales_analysis' %}" class="btn btn-primary">Перейти &raquo;</a>
                  </div>
                </div>
          </div>
      </div>

      <div class="row" style="margin-top:1rem;">
          <div class="col-3">
                <div class="card border-primary">
                  <h5 class="card-header bg-primary text-white">Финансирование</h5>
                  <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium, ad asperiores assumenda at beatae deserunt doloribus dolorum error id illo labore nulla officia quam, quibusdam tempore ut.</p>
                    <a href="{% url 'widgetpages:budgets' %}" class="btn btn-primary">Перейти &raquo;</a>
                  </div>
                </div>
          </div>
          <div class="col-3">
                <div class="card border-primary">
                  <h5 class="card-header bg-primary text-white">Средняя цена</h5>
                  <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium, ad asperiores assumenda at beatae deserunt doloribus dolorum error id illo labore nulla officia quam, quibusdam tempore ut.</p>
                    <a href="{% url 'widgetpages:avg_price' %}" class="btn btn-primary">Перейти &raquo;</a>
                  </div>
                </div>
          </div>
          <div class="col-3">
                <div class="card border-primary">
                  <h5 class="card-header bg-primary text-white">Анализ упаковок</h5>
                  <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium, ad asperiores assumenda at beatae deserunt doloribus dolorum error id illo labore nulla officia quam, quibusdam tempore ut.</p>
                    <a href="{% url 'widgetpages:packages' %}" class="btn btn-primary">Перейти &raquo;</a>
                  </div>
                </div>
          </div>
          <div class="col-3">
                <div class="card border-primary">
                  <h5 class="card-header bg-primary text-white">Анализ учреждений</h5>
                  <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium, ad asperiores assumenda at beatae deserunt doloribus dolorum error id illo labore nulla officia quam, quibusdam tempore ut.</p>
                    <a href="{% url 'widgetpages:passport' %}" class="btn btn-primary">Перейти &raquo;</a>
                  </div>
                </div>
          </div>
      </div>

      </div>

{% endblock %}  {# content #}