{% extends "ta_main.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<style>
 /* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1025; /* Stay on top */
    top: 0;
    left: 0;
    background: transparent;
    /*background-color: #fff; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.2s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links
.sidenav a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 12px;
    color: #818181;
    display: block;
    transition: 0.2s;
}
*/
/* When you mouse over the navigation links, change their color
.sidenav a:hover {
    color: #f1f1f1;
}
*/
/* Position and style the close button (top right corner)
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 12px;
    margin-left: 50px;
}
*/

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size)
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
*/

/* Menu Button */
.menu-button {
	position: fixed;
	z-index: 1000;
	margin: 0;
	padding: 0;
	width: 0.7em;
	height: 2em;
	border: none;
	text-indent: 2em;
	font-size: 1.5em;
	color: transparent;
    {#color: #8085e9;#}
	{#background: transparent;#}
    background-color: #8085e9;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.menu-button::before {
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	bottom: 0.5em;
	left: 0.5em;
	background: linear-gradient(#373a47 20%, transparent 20%, transparent 40%, #373a47 40%, #373a47 60%, transparent 60%, transparent 80%, #373a47 80%);
	content: '';
}

.menu-button:hover {
	opacity: 0.6;
}

.page-header {
	position: fixed;
	z-index: 999;
	border: none;
	text-indent: 1em;
	{#font-size: 1.5em;#}
	{#color: transparent;#}
    color: black;
	{#background: transparent;#}
    background-color: #ddddff;
    border-radius: 4px;
}

div.dataTables_wrapper div.dataTables_processing {
    background-color:white;
    z-index:1030;
    position:fixed; !important;
    border: 4px solid #0a76bf;;
    top: 15rem; !important;
    left: 50%; !important;
    width: 260px; !important;
    margin-left: -130px;
    margin-top: 0px;
    text-align: center;
    padding: 1rem; !important;
    font-size: 20pt;!important;
    color: #0a76bf;
}

.ui-dialog {
   z-index:1029;
}

#heading_serv.card-header {
    background-color: #ddddff;
}
</style>

<script type="text/javascript">
    var filters_ajax_request = {'view_id': '{{ view.id }}'};

    {% include "dt_language.html" %}
    {% include "dt_utils.html" %}

    function openNav() {
        document.getElementById("mySidenav").style.width = "350px";
        if (window.matchMedia('(max-width: 767px)').matches) {
            document.getElementById("page-content").style.marginLeft = "0";
        } else {
            document.getElementById("page-content").style.marginLeft = "350px";
        }
        $('#open-button').css("display","none");
    }

    /* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("page-content").style.marginLeft = "0";
        $('#open-button').css("display","block");
    }

    $(document).ready(function() {
        openNav()
    });
</script>

        <button class="menu-button" id="open-button" onclick="openNav()"></button>

        <div id="mySidenav" class="sidenav">
                 <div style="padding-left:5px;">
                     {% block filter %}
                         {% include 'ta_filter_styles.html' %}
                         {% include 'ta_filter_serv.html' %}
                         {% for flt in filters %}
                         {% include 'ta_filter_item.html' %}
                         {% endfor %}
                         {% include 'ta_filter_ajax.html' %}
                     {% endblock %}
                 </div>
        </div>

         <div id="page-content" style="padding:0;">
            <div class="col-12 ml-2 mr-2 pt-2 pb-2 page-header">
                <h5><b>{{ view.name }}</b></h5>
            </div>
             <div style="padding-left:0.5rem; padding-right:0; padding-top: 3rem;">
                  {% block page %}{% endblock %}
             </div>
         </div>

{% block afterpage %}{% endblock %}
{% endblock %}
