{% extends "ta_layout.html" %}
{% load widgettags %}
{% load staticfiles %}
{% load i18n %}

{% block page %}
    <style>
        table.datatable tr {
            font-size: 0.9rem;
            font-weight: 400;
            line-height: 0.9rem;
        }
        .buttons-select-all, .buttons-select-none, .buttons-html5 {
            line-height: 1; !important;
        }

        .sticky-top {top:7rem; !important;}

        table.dataTable thead.thead-light {background-color: rgb(108, 117, 125); color: #ffffff; }
        td.dt-right { text-align: right; padding-right:5px; !important;}
        td.dt-right0 { text-align: right; padding-right:5px; !important;}
        th.dt-center { text-align: center; padding-right:5px; !important;}
        table.dataTable.table-sm > thead > tr > th.dt-right { padding-right:1.4rem; !important; text-align: right; !important;}
        table.dataTable.table-sm > thead > tr > th.dt-right0 { padding-right:5px; !important; text-align: right; !important;}
        table.dataTable tr.dtrg-end td  { background-color: #ffffff; !important;}
        table.datatable tr.total td  { font-weight:bold; !important;}
        .th-year-all, th-year-own { width:75px;!important;}
        .th-year-prc { width:50px;!important;}
        .th-name { width:300px;!important;}
        .th-year { width:200px;!important;}

    </style>

	<div class="col-12">
		<table class="table table-sm table-hover table-striped display w-100 datatable table-bordered" width="100%" id="ta_mparts_table">
        <thead class="thead-light">
            <tr>
                <th rowspan="2" class="th-name">Рынок</th>
                {% for y in data.year %}
                    <th colspan="3" class="dt-center th-year">{{ y }}</th>
                {% endfor %}
            </tr>
            <tr>
                <!--<th class="th-name">Рынок</th>-->
                {% for y in data.year %}<th class="dt-right th-year-all">Весь</th><th class="dt-right th-year-own">Свой</th><th class="dt-right0 th-year-prc">%</th>{% endfor %}
            </tr>
        </thead>
        </table>
    <br>
		<table class="table table-sm table-hover table-striped display w-100 datatable table-bordered" width="100%" id="ta_lparts_table">
        <thead class="thead-light position-sticky sticky-top">
            <tr>
                <th rowspan="2" class="th-name">ЛПУ</th>
                {% for y in data.year %}
                    <th colspan="3" class="dt-center th-year">{{ y }}</th>
                {% endfor %}
            </tr>
            <tr>
                <!--<th>ЛПУ</th>-->
                {% for y in data.year %}<th class="dt-right th-year-all">Весь</th><th class="dt-right th-year-own">Свой</th><th class="dt-right0 th-year-prc">%</th>{% endfor %}
            </tr>
        </thead>
        </table>
	</div>

<script>
    function ChartsUpdate1(data, src_id) {
        // Скрываем/показываем столбцы в соответсвии с активностью кнопок по годам Рынки
        $('button[id^=year_]').each(function() {
            show_status = $(this).hasClass('active') & !$(this).hasClass('disabled');
            column1 = ta_mparts_table.columns( $(this).attr('data-id').toString()+'-1:name' )
            column2 = ta_mparts_table.columns( $(this).attr('data-id').toString()+'-2:name' )
            column3 = ta_mparts_table.columns( $(this).attr('data-id').toString()+'-3:name' )
            curr_order = ta_mparts_table.order()[0]
            if (column1.visible()[0]!=show_status) {
                column1.visible(show_status, false);
                column2.visible(show_status, false);
                column3.visible(show_status, false);
                 if (!show_status) {
                    if ( curr_order.indexOf(column1[0][0])>=0 | curr_order.indexOf(column2[0][0])>=0 | curr_order.indexOf(column3[0][0])>=0 )
                        ta_mparts_table.order([0,'asc'])
                }
            };
        });
        ta_mparts_table.ajax.reload( null, true );
        //ta_competitions_table.columns.adjust().draw( true );

        // Скрываем/показываем столбцы в соответсвии с активностью кнопок по годам ЛПУ
        $('button[id^=year_]').each(function() {
            show_status = $(this).hasClass('active') & !$(this).hasClass('disabled');
            column1 = ta_lparts_table.columns( $(this).attr('data-id').toString()+'-1:name' )
            column2 = ta_lparts_table.columns( $(this).attr('data-id').toString()+'-2:name' )
            column3 = ta_lparts_table.columns( $(this).attr('data-id').toString()+'-3:name' )
            curr_order = ta_lparts_table.order()[0]
            if (column1.visible()[0]!=show_status) {
                column1.visible(show_status, false);
                column2.visible(show_status, false);
                column3.visible(show_status, false);
                 if (!show_status) {
                    if ( curr_order.indexOf(column1[0][0])>=0 | curr_order.indexOf(column2[0][0])>=0 | curr_order.indexOf(column3[0][0])>=0 )
                        ta_lparts_table.order([0,'asc'])
                }
            };
        });
        ta_lparts_table.ajax.reload( null, true );
    }
    function ChartsUpdate2(data, src_id) {
    }
    function ChartsUpdate3(data, src_id) {
    }
</script>
{% endblock %}

{% block afterpage %}
<script type="text/javascript">

function fixval ( data ) {
    if (data != '') val=( data / 1000 ).toFixed(0); else val='';
    return val;
}

function floatWithSpaces(x) {
    var parts = x.toString().split(".");
    parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, " ");
    return parts.join(".");
}

function intWithSpaces(x) {
    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, "&nbsp;");
}

var ta_mparts_table = $('#ta_mparts_table').DataTable({
                "dom": '<"row"<r><"col-12"t>>',

                select: true,
                //scrollX: true,
                autoWidth: false,
                "columnDefs": [
                    { "name": "name", "targets": 0 , "visible": true, "className": "th-name" },
                    {% for y in data.year %}
                    {% widthratio forloop.counter0 1 3 as target %}
                    { "name": "{{ y }}-1", "targets": {{ target|add:1 }}, "visible": true, "searchable": false,
                      "className": "dt-right th-year-all", "orderSequence": ["desc","asc"],
                      render: function ( data, type, row ) { return intWithSpaces ( fixval( data ) ); } },
                    { "name": "{{ y }}-2", "targets": {{ target|add:2 }}, "visible": true, "searchable": false,
                      "className": "dt-right th-year-own", "orderSequence": ["desc","asc"],
                      render: function ( data, type, row ) { return intWithSpaces ( fixval( data ) ); } },
                    { "name": "{{ y }}-3", "targets": {{ target|add:3 }}, "visible": true, "searchable": false,
                      "className": "dt-right0 th-year-prc", orderable: false }
                    {% if not forloop.last %},{% endif %}{% endfor %}
                ],
                "processing": true,
                "serverSide": true,
                //"stateSave" : true,
                "ordering":  true,
                "order": [[ {{ data.sort_col }}, "{{ data.sort_dir }}" ]],
                "ajax": {
                    "url": "{% url 'widgetpages:jmparts' %}",
                    "type": "POST",
                    "data": function ( d ) {
                        d.filters_ajax_request = JSON.stringify(make_request());
                        d.view_id = '{{ view.id }}';
                        d.org_id = '{{ org_id }}';
                        d.csrfmiddlewaretoken = '{{ csrf_token }}';
                    }
                },
                "createdRow": function( row, data, dataIndex ) {
                    if ( data[0] == "ИТОГО" ) {
                        $(row).addClass('total');
                    }
                 },
                "language": lang_russian
            });

var ta_lparts_table = $('#ta_lparts_table').DataTable({
                "dom": '<"row"<f><l><B><r>><"row"<"col-12"t>><"row"<"col-12"p><"col-12"i>>',
                buttons: [{
                            text: 'Excel',
                            className: 'btn-sm',
                            action: function ( e, dt, node, config ) {
                                    download_datatable_excel('{% url 'widgetpages:jlparts' %}', '{{ view.id }}', '{{ org_id }}', dt)
                            }
                }],
                select: true,
                "lengthMenu": [[25, 50, 100, 250, 500, 1000], [25, 50, 100, 250, 500, 1000]],
                "pageLength": 25,
                //scrollX: true,
                autoWidth: false,
                "columnDefs": [
                    { "name": "name", "targets": 0 , "visible": true, "className": "th-name" },
                    {% for y in data.year %}
                    {% widthratio forloop.counter0 1 3 as target %}
                    { "name": "{{ y }}-1", "targets": {{ target|add:1 }}, "visible": true, "searchable": false,
                      "className": "dt-right th-year-all", "orderSequence": ["desc","asc"],
                      render: function ( data, type, row ) { return intWithSpaces ( fixval( data ) ); } },
                    { "name": "{{ y }}-2", "targets": {{ target|add:2 }}, "visible": true, "searchable": false,
                      "className": "dt-right th-year-own", "orderSequence": ["desc","asc"],
                      render: function ( data, type, row ) { return intWithSpaces ( fixval( data ) ); } },
                    { "name": "{{ y }}-3", "targets": {{ target|add:3 }}, "visible": true, "searchable": false,
                      "className": "dt-right0 th-year-prc", orderable: false }
                    {% if not forloop.last %},{% endif %}{% endfor %}
                ],
                "processing": true,
                "serverSide": true,
                //"stateSave" : true,
                "ordering":  true,
                "order": [[ {{ data.sort_col }}, "{{ data.sort_dir }}" ]],
                "ajax": {
                    "url": "{% url 'widgetpages:jlparts' %}",
                    "type": "POST",
                    "data": function ( d ) {
                        d.filters_ajax_request = JSON.stringify(make_request());
                        d.view_id = '{{ view.id }}';
                        d.org_id = '{{ org_id }}';
                        d.csrfmiddlewaretoken = '{{ csrf_token }}';
                    }
                },
                "language": lang_russian
            });

</script>
{%  endblock %}