    var config2 = {
        type: 'pie',
        data: {
            labels: [{% for d in data.pivot2 %}'{{ d.market_name }}'{% if not forloop.last %},{% endif %}{% endfor %}],
            datasets: [
                {
                    label: '',
                    fontSize: 7,
                    //backgroundColor: window.listColors[0],
                    //borderColor: window.listColors[0],
                    data: [
                        {% for d in data.pivot2 %}{{ d.summa|floatformat:"0" }}{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    ],
                    backgroundColor: [
                        {% for d in data.pivot2 %}window.listColors[{{ forloop.counter0 }}]{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    ],
                    fill: false,
                    tension: 0
                }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            //legend: {
            //    display: false
            //},
            title: {
                display: false,
                text: 'Все закупки учреждения'
            },
            tooltips: {
                mode: 'nearest',
                intersect: false,
                callbacks: { label: function(tooltipItems, data) { return ' '+data.labels[tooltipItems.index]+': '+intWithSpaces(fixval(data.datasets[0].data[tooltipItems.index],1),' ') + ' тыс.руб.';;}}
            },
            hover: {
                mode: 'nearest',
                intersect: true
            }
        }
    };


    function ConfigUpdate2(data, src_id) {
        labels_data = [];
        data.data.pivot2.forEach(function(d) {
           labels_data.push(d.market_name)
        });
        config2.data.labels = labels_data;

        config2.data.datasets = [];

        var newDataset = {
            label: '',
            //backgroundColor: window.listColors[0],
            //borderColor: window.listColors[0],
            fontSize: 7,
            data: [],
            backgroundColor: []
        };

        var cnt = 0;
        data.data.pivot2.forEach(function(d) {
            newDataset.data.push(d.summa);
            newDataset.backgroundColor.push(window.listColors[cnt]);
            cnt++;
        });
        config2.data.datasets.push(newDataset);
    };

    function ChartsUpdate2(data, src_id) {
        ConfigUpdate2(data, src_id);
        window.myLine2.update();
    }

