{% extends "ta_layout.html" %}
{% load staticfiles %}
{% load i18n %}

{% block page %}

	<script type="text/javascript" src="{% static 'chartjs\Chart.bundle.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'chartjs\utils.js' %}"></script>
	<style>
	canvas{
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}
    div.card-chart {
        margin-top:0.5rem;
    }

        table.datatable tr {
            font-size: 0.9rem;
            font-weight: 400;
            line-height: 0.9rem;
        }
        .buttons-select-all, .buttons-select-none, .buttons-html5 {
            line-height: 1; !important;
        }

        .sticky-top {top:7rem;}
        #ta_passport_table_winners thead {background-color: rgb(108, 117, 125); color: #ffffff; }
        table.datatable tr.total td  { font-weight:bold; !important;}
        td.dt-right { text-align: right; padding-right:5px; !important;}
        table.dataTable.table-sm > thead > tr > th.dt-right { padding-right:1.4rem; !important; text-align: right; !important;}
        table.dataTable tr.dtrg-end td  { background-color: #ffffff; !important;}
        table.datatable tr.total td  { font-weight:bold; !important;}

	</style>

<script>
    function fixval ( data, divider=1000 ) {
        if (data != '') val=( data / divider ).toFixed(0); else val='';
        return val;
    }

    function floatWithSpaces(x) {
        var parts = x.toString().split(".");
        parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, " ");
        return parts.join(".");
    }

    function intWithSpaces(x) {
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");
    }
</script>
<div class="container-fluid">

     <div class="row">
     <div class="col-12">
         <div class="card card-chart">
          <div class="card-header"><b>УЧРЕЖДЕНИЕ</b></div>
         <div class="card-body">
            <p class="card-text" >
                <b>Наименование:</b> <span id="lpu_name">{% if data.lpu_name %}{{ data.lpu_name }}{% else %}-{% endif %}</span><br>
                <b>Короткое имя:</b> <span id="lpu_shortname">{% if data.lpu_shortname %}{{ data.lpu_shortname }}{% else %}-{% endif %}</span><br>
                <b>ИНН:</b> <span id="lpu_inn">{% if data.lpu_inn %}{{ data.lpu_inn }}{% else %}-{% endif %}</span><br>
                <b>Регион:</b> <span id="lpu_region">{% if data.lpu_region %}{{ data.lpu_region }}{% else %}-{% endif %}</span><br>
                <b>Адрес:</b> <span id="lpu_addr">{% if data.lpu_addr %}{{ data.lpu_addr }}{% else %}-{% endif %}</span>
            </p>
         </div>
         </div>
     </div>
     </div>

    <div class="row">
        <div class="col-lg-6 col-md-12">
        <div class="card card-chart">
          <div class="card-header"><b>ЗАКУПКИ ПО ГОДАМ</b></div>
          <div class="card-body"><canvas id="ta_passport_chart_years"></canvas></div>
        </div>
        </div>

        <div class="col-lg-6 col-md-12">
        <div class="card card-chart">
          <div class="card-header"><b>ЗАКУПКИ ПО РЫНКАМ</b></div>
          <div class="card-body"><canvas id="ta_passport_chart_markets"></canvas></div>
        </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
        <div class="card card-chart">
          <div class="card-header"><b>ПОСТАВЩИКИ</b></div>
          <div class="card-body">
              <table class="table table-sm table-hover display w-100 datatable" width="100%" id="ta_passport_table_winners"></table>
          </div>
        </div>
        </div>
    </div>
</div>


    <script>
        {% include 'ta_passport_table_winners.html' %}
        {% include 'ta_passport_chart_years.html' %}
        {% include 'ta_passport_chart_markets.html' %}
        window.onload = function() {
            var ctx1 = document.getElementById('ta_passport_chart_years').getContext('2d');
            ctx1.canvas.height = 300;
            window.myLine1 = new Chart(ctx1, config1);
            var ctx2 = document.getElementById('ta_passport_chart_markets').getContext('2d');
            ctx2.canvas.height = 300;
            window.myLine2 = new Chart(ctx2, config2);
        };
    </script>

{%  endblock %}