<script>
    var config2 = {
        type: 'line',
        data: {
            labels: ['1','2','3','4','5','6','7','8','9','10','11','12'],
            datasets: [
                {% regroup data.pivot2 by market_name as market_list %}
                {% for market in market_list %}
                {
                    label: '{{ market.grouper }}',
                    backgroundColor: window.listColors[{{ forloop.counter0 }}],
                    borderColor: window.listColors[{{ forloop.counter0 }}],
                    data: [
                        {% for m in market.list %}{ x:{{ m.mon }}, y:{{ m.product_cost_sum|floatformat:"0" }} }{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    ],
                    fill: false,
                    tension: 0
                }{% if not forloop.last %},{% endif %}
            {% endfor %}
            ]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            title: {
                display: true,
                text: 'Аукционы по объему закупа'
            },
            tooltips: {
                mode: 'index',
                intersect: false,
            },
            hover: {
                mode: 'nearest',
                intersect: true
            },
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'месяц'
                    }
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Стоимость продукта (млн.руб.)'
                    }
                }]
            }
        }
    };

    function ChartsUpdate2(data, src_id) {
        config2.data.labels = ['1','2','3','4','5','6','7','8','9','10','11','12'];
        config2.data.datasets.forEach(function(dataset) {
            chart_data = [];
            for (var i in data.data.pivot2) {
                if (data.data.pivot2[i].market_name==dataset.label) {
                    chart_data.push({x:data.data.pivot2[i].mon,y:data.data.pivot2[i].product_cost_sum})
                }
            }
            dataset.data = chart_data;
        });

        window.myLine2.update();
    }

</script>
