{% extends "ta_layout.html" %}
{% load widgettags %}
{% load staticfiles %}
{% load i18n %}

{% block page %}
    <style>
        table.datatable tr {
            font-size: 0.9rem;
            font-weight: 400;
            line-height: 0.9rem;
        }
        .buttons-select-all, .buttons-select-none, .buttons-html5 {
            line-height: 1; !important;
        }

        .sticky-top {top:7rem; !important;}

        table.dataTable thead.thead-light {background-color: rgb(108, 117, 125); color: #ffffff; }
        td.dt-right { text-align: right; padding-right:5px; !important;}
        td.dt-right0 { text-align: right; padding-right:5px; !important;}
        th.dt-center { text-align: center; padding-right:0px; !important;}
        table.dataTable.table-sm > thead > tr > th.dt-right { padding-right:1.4rem; !important; text-align: right; !important;}
        table.dataTable.table-sm > thead > tr > th.dt-right0 { padding-right:5px; !important; text-align: right; !important;}
        table.dataTable tr.dtrg-end td  { background-color: #ffffff; !important;}
        table.datatable tr.total td  { font-weight:bold; !important;}
        table.datatable.table-sm > thead > tr > th { font-size: 10pt;}
        .td-inn { width:75px; word-wrap:break-word;}
        .td-tm {  width:50px; word-wrap:break-word;}
    </style>
    <br>
	<div class="col-12">
		<table class="table table-sm table-hover table-striped display w-100 datatable table-bordered" width="100%" id="ta_sales_analysis_table">
            <thead class="thead-light position-sticky sticky-top">
               <tr>
                   <th rowspan="2" class="dt-center">Дата тендера</th>
                   <th rowspan="2" class="dt-center">ИНН</th>
                   <th rowspan="2" class="dt-center">Заказчик</th>
                   <th colspan="7" class="dt-center">Аукцион</th>
                   <th colspan="6" class="dt-center">Контракт</th>
                   <th rowspan="2" class="dt-center dt-inn">Этап</th>
                   <th rowspan="2" class="dt-center">Ссылки</th>
               </tr>
                <tr>
                    <th class="dt-center td-inn">МНН</th>
                    <th class="dt-center td-tm">ТН</th>
                    <th class="dt-center">Дозировка</th>
                    <th class="dt-center">Кол-во, уп.</th>
                    <th class="dt-center">Цена, SKU</th>
                    <th class="dt-center">Сумма</th>
                    <th class="dt-center">Сумма (сред.)</th>
                    <th class="dt-center td-inn">МНН</th>
                    <th class="dt-center td-tm">ТН</th>
                    <th class="dt-center">Дозировка</th>
                    <th class="dt-center">Кол-во, уп.</th>
                    <th class="dt-center">Цена SKU</th>
                    <th class="dt-center">Сумма</th>
                </tr>
            </thead>
        </table>
	</div>

<script>
    function ChartsUpdate1(data, src_id) {
        ta_sales_analysis_table.ajax.reload( null, true );
    }
    function ChartsUpdate2(data, src_id) {
    }
    function ChartsUpdate3(data, src_id) {
    }
</script>
{% endblock %}

{% block afterpage %}
<script type="text/javascript">

function fixval ( data ) {
    if (data != '') val=( data / 1000 ).toFixed(0); else val='';
    return val;
}

function floatWithSpaces(x) {
    var parts = x.toString().split(".");
    parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, "&nbsp;");
    return parts.join(".");
}

function intWithSpaces(x) {
    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, "&nbsp;");
}

var ta_sales_analysis_table = $('#ta_sales_analysis_table').DataTable({
                "dom": '<"row"<f><l><B><r>><"row"<"col-12"t>><"row"<"col-12"p><"col-12"i>>',
                //"dom": '<"row"<r><"col-12"t>>',
                buttons: [{
                            text: 'Excel',
                            className: 'btn-sm',
                            action: function ( e, dt, node, config ) {
                                var search_str = $('#ta_sales_analysis_table_filter input').val();
                                var order = dt.order();

                                data = { 'csrfmiddlewaretoken' : '{{ csrf_token }}',
                                          'filters_ajax_request' : JSON.stringify(make_request()),
                                          'view_id' : '{{ view.id }}',
                                          'org_id' : '{{ org_id }}',
                                          'excel' : '1',
                                          'search[value]': search_str,
                                          'order[0][column]': order[0][0],
                                          'order[0][dir]': order[0][1]
                                };

                                // Добавляем информацию о столбцах и порядке их следования, чтоюбы сработала сортировка
                                var c = dt.settings().init().columnDefs;
                                dt.columns().eq(0).each( function ( value, index ) {
                                    data['columns['+index.toString()+'][name]'] = c[index].name;
                                } );

                                $.fileDownload('{{ ajax_datatable_url }}', {
                                    preparingMessageHtml: "<span style='text-align:center;'>Мы готовим для Вас отчет, подождите пожалуйста...</div>",
                                    failMessageHtml: "<span style='text-align:center;'>Произошла ошибка генерации отчета. Попробуйте еще раз.</div>",
                                    httpMethod: "POST",
                                    data: data
                                });
                            }
                }],
                select: true,
                "lengthMenu": [[25, 50, 100, 250, 500, 1000], [25, 50, 100, 250, 500, 1000]],
                "pageLength": 25,
                //scrollX: true,
                autoWidth: false,
                "columnDefs": [
                    { "title": "Дата тендера",        "name": "TendDt",             "targets": 0 , "visible": true, "className": "" },
                    { "title": "ИНН",                 "name": "Org_CustINN",        "targets": 1 , "visible": true, "className": "" },
                    { "title": "Заказчик",            "name": "Org_CustNm",         "targets": 2 , "visible": true, "className": "" },

                    { "title": "МНН",                  "name": "Order_InnName",    "targets": 3 , "visible": true, "className": "",
                    render: function ( data, type, row ) { return "<div class='td-inn'>"+data+"</div>" } },
                    { "title": "TН",                  "name": "Order_TradeName",    "targets": 4 , "visible": true, "className": "" ,
                    render: function ( data, type, row ) { return "<div class='td-tm'>"+data+"</div>" } },
                    { "title": "Дозировка + Фасовка", "name": "Order_Dosage",       "targets": 5 , "visible": true, "className": "" },
                    { "title": "Кол-во, уп",              "name": "Order_Count",        "targets": 6 , "visible": true, "className": "dt-right" ,
                    render: function ( data, type, row ) { return intWithSpaces ( data ); } },
                    { "title": "Цена, SKU",                "name": "Order_Price",        "targets": 7 , "visible": true, "className": "dt-right" ,
                    render: function ( data, type, row ) { return floatWithSpaces ( data ); } },
                    { "title": "Сумма",               "name": "Order_Summa",        "targets": 8 , "visible": true, "className": "dt-right" ,
                    render: function ( data, type, row ) { return floatWithSpaces ( data ); } },
                    { "title": "Сумма (сред.)",               "name": "Order_AVG_Summa",     "targets": 9 , "visible": false, "className": "dt-right" ,
                    render: function ( data, type, row ) { return floatWithSpaces ( data ); } },

                    { "title": "МНН",                  "name": "Contract_InnName", "targets": 10 , "visible": true, "className": "" ,
                    render: function ( data, type, row ) { return "<div class='td-inn'>"+data+"</div>" } },
                    { "title": "TН",                  "name": "Contract_TradeName", "targets": 11 , "visible": true, "className": "" ,
                    render: function ( data, type, row ) { return "<div class='td-tm'>"+data+"</div>" } },
                    { "title": "Дозировка + Фасовка", "name": "Contract_Dosage",    "targets": 12 , "visible": true, "className": "" },
                    { "title": "Кол-во, уп.",              "name": "Contract_Count",     "targets": 13 , "visible": true, "className": "dt-right" ,
                    render: function ( data, type, row ) { return intWithSpaces ( data ); } },
                    { "title": "Цена, SKU",                "name": "Contract_Price",     "targets": 14 , "visible": true, "className": "dt-right" ,
                    render: function ( data, type, row ) { return floatWithSpaces ( data ); } },
                    { "title": "Сумма",               "name": "Contract_Summa",     "targets": 15 , "visible": true, "className": "dt-right" ,
                    render: function ( data, type, row ) { return floatWithSpaces ( data ); } },

                    { "title": "Этап",     "name": "status_name",        "targets": 16 , "visible": true, "className": "" ,
                    render: function ( data, type, row ) { return "<div class='td-inn'>"+data+"</div>" } },
                    { "title": "Ссылки",              "name": "SrcInf",             "targets": 17 , "visible": true, "className": "",
                    render: function ( data, type, row ) {
                        tender_html = "<a href='"+data+"' target='_blank'>Аукцион</a>";
                        if (row[18]) contract_html="<br><a href='"+row[18]+"' target='_blank'>Контракт</a>"; else contract_html = "";
                        return tender_html+contract_html }},
                    { "title": "Ссылка контракт",              "name": "Contract_URL",             "targets": 18 , "visible": false, "className": "" }
                ],
                "processing": true,
                "serverSide": true,
                //"stateSave" : true,
                "ordering":  true,
                "order": [[ {{ data.sort_col }}, "{{ data.sort_dir }}" ]],
                "ajax": {
                    "url": "{{ ajax_datatable_url }}",
                    "type": "POST",
                    "data": function ( d ) {
                        d.filters_ajax_request = JSON.stringify(make_request());
                        d.view_id = '{{ view.id }}';
                        d.org_id = '{{ org_id }}';
                        d.csrfmiddlewaretoken = '{{ csrf_token }}';
                    }
                },
                "language": lang_russian
            });

</script>
{%  endblock %}