{% extends "fa_layout.html" %}
{% load staticfiles %}
{% load i18n %}

{% block page %}
<style>
table.datatable tr {
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 0.9rem;
}

.rowGrayed {
    background-color: #a9a9a9; !important;
    font-style: italic;
}

.dscroll {
    margin-top: 1rem;
    height: 300px; /* высота нашего блока */
    width: 750px; /* ширина нашего блока */
    background: #fff; /* цвет фона, белый */
    border: 1px solid #C1C1C1; /* размер и цвет границы блока */
    overflow-y: scroll; /* прокрутка по вертикали */
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 0.9rem;
}

</style>

<!-- Modal -->
<div class="modal fade" id="RegModalQuery" tabindex="-1" role="dialog" aria-labelledby="RegModalQueryTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="RegModalQueryTitle"><b>Внимание!!!</b></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          Изменения в спиcке территорий приведут к автоматическому удалению у текущего сотрудника <span class="badge badge-warning" id="lpu_count">0</span> заказчиков (грузополучателей):<br>
          <div class="dscroll"><ul id="lpu_list"></ul></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        <button type="button" class="btn btn-danger" id="emplSubmit">Сохранить изменения</button>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid px-4">
<div class="row">
<div class="col-12">


<b>ТЕРРИТОРИИ в зоне ответственности сотрудника <i>{{ object.name }}</i>:</b><br>
{% include "fa_rege.html" %}
<br>
<hr>
<div class="row">
    <div class="col-12">
            <a href="{% url 'farmadmin:employees' %}" role="button" class="btn btn-secondary">Выйти без сохранения</a>
            <a href="#" role="button" class="btn btn-primary" id="emplPreSubmit">Сохранить</a>
     </div>
</div>

<br>
<br>

<script>

$(document).ready(function() {

    function SubmitRegionChanges() {
         var rege_array = tblRegEmp.column(0).data().toArray();

         $.ajax({
            type: 'POST',
            url: "{%  url 'farmadmin:employee_reg' object.id %}",
            traditional: true,
            async: false,
            data: {
                "id": {{ object.id }},
                "region": rege_array,
                "csrfmiddlewaretoken": '{{ csrf_token }}'
            },
            success: function (data) {
                window.location = "{%  url 'farmadmin:employees' %}";
            },
            error: function (xhr, str) {
                    alert('Error loading data. ' + str);
            }
        })
    };

    function QuerySave(data) {
        var arr = data.lpu_for_delete;
        if (arr.length>0) {
            var lpus = "";
            arr.forEach(function (item, i, arr) {
                lpus += "<li>" + item + "</li>"
            });
            $('#lpu_count').text(arr.length);
            $('#lpu_list').html(lpus);
            $('#RegModalQuery').modal('show');
        }
        else SubmitRegionChanges();
    };

    $("#emplSubmit").on('click', function() {
        SubmitRegionChanges();
    });

    $("#emplPreSubmit").on('click', function(){
        var rege_array = tblRegEmp.column(0).data().toArray();

        $.ajax({
            type: 'POST',
            url: "{%  url 'farmadmin:employee_regquery' %}",
            //"{%  url 'farmadmin:employee_reg' object.id %}",
            traditional: true,
            async: false,
            data: {
                "id": {{ object.id }},
                "region": rege_array,
                "csrfmiddlewaretoken": '{{ csrf_token }}'
            },
            success: function (data) {
                QuerySave(data);
            },
            error: function (xhr, str) {
                    alert('Error loading data. ' + str);
            }
        })
        //window.location = "{%  url 'farmadmin:employees' %}";
    });
});
</script>
</div>
</div>
</div>


{% endblock %}