{% extends "fa_layout.html" %}
{% load staticfiles %}
{% load i18n %}

{% block page %}
<div class="container-fluid px-4">
<div class="row">
<div class="col-12">

<!-- Modal Confirm-->
<div class="modal" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmModalTitle">Подтверждение запроса на удаление.</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="confirmText">
           Подтвердите удаление выбранного сотрудника.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Не удалять</button>
        <button type="button" class="btn btn-danger" id="confirmBtn">Удалить</button>
      </div>
    </div>
  </div>
</div>

<form action="{% if object %}{% url 'farmadmin:employee_base' object.id %}{% else %}{% url 'farmadmin:employee_base' %}{% endif %}" method="POST">
{% csrf_token %}
<div class="row">
      <div class="form-group col-lg-3 col-md-4 col-sm-12">
        <label for="nameInput">Сотрудник</label>
        <input type="text" class="form-control" id="nameInput" placeholder="" value="{{ object.name }}" name="name">
      </div>
</div>
<div class="row">
      <div class="form-group col-lg-3 col-md-4 col-sm-12">
        <label for="parentSelect">Руководитель</label>
        <select class="form-control" id="parentSelect" name="parent">
               <option value="" {% if p == "" %}selected{% endif %}>---</option>
           {% for p in parents %}
               <option value="{{ p.id }}" {% if p == object.parent %}selected{% endif %}>{{ p.name }}</option>
           {% endfor %}
        </select>
      </div>
</div>
<div class="row">
      <div class="form-group col-lg-3 col-md-4 col-sm-12">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="1" name="istarget" id="isTarget" {% if object.istarget %}checked{% endif %}>
          <label class="form-check-label" for="isTarget">
            Показывать как таргет
          </label>
        </div>
      </div>
</div>
<input type="hidden" value="{{ org.id }}" name="org">
<br>
<hr>
<div class="row">
    <div class="col-12">
            <a href="{% url 'farmadmin:employees' %}" role="button" class="btn btn-secondary">Выйти без сохранения</a>
            <button type="submit" role="button" class="btn btn-primary" id="emplSubmit">Сохранить</button>
            {% if object %}<a href="#" role="button" class="btn btn-danger float-right" id="emplRemove" data-toggle="modal" data-target="#confirmModal">Удалить</a>{% endif %}
     </div>
</div>
</form>
<br>
<br>

<script>
   $("#confirmBtn").on('click', function(){
        $.ajax({
            type: 'POST',
            url: "{% if object %}{%  url 'farmadmin:employee_rm' object.id %}{% else %}{%  url 'farmadmin:employees' %}{% endif %}",
            async: false,
            data: {
                "csrfmiddlewaretoken": '{{ csrf_token }}'
            }
        })
        window.location = "{%  url 'farmadmin:employees' %}";
   });
</script>
</div>
</div>
</div>


{% endblock %}