<div class="row" style="background-color: #E5E5F5">
    <div class="col-lg-6 col-sm-12 pt-4">

        <div class="row">
            <div class="col-6">
                 <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Поиск</span>
                  </div>
                  <input type="text" class="form-control" id="searchTmAll" placeholder="" aria-label="Search" aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="col-6">
                <div class="float-right">
                    <button type="button" id="tma-ctrl" class="btn btn-sm btn-outline-primary inline btn-srv" data-toggle="button" aria-pressed="false" autocomplete="off" title="Мультивыбор"><i class="fa fa-list"></i></button>
                    <button type="button" id="tma-check" class="btn btn-sm btn-outline-primary inline btn-srv btn-filter" title="Выбрать/отменить все"><i class="fa fa-check"></i></button>
                    <button type="button" class="btn btn-outline-primary btn-sm"  id="addTm">Добавить ТН&nbsp;&nbsp;<i class="fa fa-arrow-right"></i></button>
                </div>
            </div>
        </div>

         <div class="row">
            <div class="col-12">
                <table id="tblTmAll" class="table datatable table-hover table-sm table-striped display w-100">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>Торговое наименование</th>
                        </tr>
                    </thead>
                    <!-- <tbody>
                    { % for i in innrs %}
                        <tr><td>{ { i.id }}</td><td>{ { i.name }}</td></tr>
                    { % endfor %}
                    </tbody> -->
                </table>
            </div>
         </div>

    </div>

    <div class="col-lg-6 col-sm-12 pt-4">

        <div class="row">
            <div class="col-6">
                <div>
                    <button type="button" class="btn btn-outline-primary btn-sm" id="removeTm"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;Удалить ТН</button>
                    <button type="button" id="tmm-check" class="btn btn-sm btn-outline-primary inline btn-srv btn-filter" title="Выбрать/отменить все"><i class="fa fa-check"></i></button>
                    <button type="button" id="tmm-ctrl" class="btn btn-sm btn-outline-primary inline btn-srv" data-toggle="button" aria-pressed="false" autocomplete="off" title="Мультивыбор"><i class="fa fa-list"></i></button>
                </div>
            </div>

            <div class="col-6">
                 <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Поиск</span>
                  </div>
                  <input type="text" class="form-control" id="searchTmMrkt" placeholder="" aria-label="Search" aria-describedby="basic-addon1">
                </div>
            </div>
        </div>

         <div class="row">
            <div class="col-12">
                <table id="tblTmMrkt" class="table datatable table-hover table-sm table-striped display w-100">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>Торговое наименование</th>
                            <th width="30px">Свой</th>
                        </tr>
                    </thead>
                    <!-- <tbody>
                    { % for i in object.innrs.all %}
                        <tr><td>{ { i.id }}</td><td>{ { i.name }}</td></tr>
                    { % endfor %}
                    </tbody>-->
                </table>
            </div>
         </div>

    </div>


</div>


<script>

    var dsTmAll = [
        {% autoescape on %}
        {%  for l in tmnrs %}
            [ '{{ l.id }}', '{{ l.name }}']{% if not forloop.last %}, {% endif %}{% endfor %}
        {% endautoescape %}
    ];

    var dsTmMrkt = [
        {%  for l in object.tmnrs.all %}
            [ '{{ l.id }}', '{{ l.name }}', 0 ]{% if not forloop.last %}, {% endif %}{% endfor %}
    ];

    var tblTmMrkt = $('#tblTmMrkt').DataTable( {
        dom: '<"row"<"col-12"t>><"row"<"col-12"p><"col-12"i>>',
        select: { style: 'api' },
        ordering:  true,
        //responsive: true,
        order: [[ 1, "asc" ]],
        scrollY: "300px",
        scrollX: true,
        scrollCollapse: true,
        //scroller: true,
        paging: false,
        "columnDefs": [
                    { title: "id", name: "id", "targets": 0 , "visible": false, "searchable": false },
                    { title: "Торговое наименование", name: "name", "targets": 1 , "visible": true, "searchable": true },
                    { title: "Свой",  name: "self", "targets": 2, orderable: false, "className": "dt-center",
                    render: function (data, type, full, meta) {
                        if (data){ return '<input type="checkbox" checked>'; }
                        else { return '<input type="checkbox">'; }},
                    },
        ],
        data : dsTmMrkt,
        language: lang_russian
    } );

    var tblTmAll = $('#tblTmAll').DataTable( {
        dom: '<"row"<"col-12"t>><"row"<"col-12"p><"col-12"i>>',
        select: { style: 'api' },
        ordering:  true,
        order: [[ 1, "asc" ]],
        //responsive: true,
        scrollY: "300px",
        scrollX: false,
        scrollCollapse: true,
        //scroller: true,
        paging: false,
        "columnDefs": [
                    { title: "id", name: "id", "targets": 0 , "visible": false, "searchable": false },
                    { title: "Торговое наименование", name: "name", "targets": 1 , "visible": true, "searchable": true }
        ],
        data : dsTmAll,
        language: lang_russian
    } );

$(document).ready(function() {
    //
    // РАБОТА С ТАБЛИЦЕЙ ВСЕХ ИЗВЕСТНЫХ  МНН
    //

    // Окрашиваем кнопку Выбрать ВСЕ в зависимости от количества выбранных кнопок
    function tma_check_update() {
        if ( tblTmAll.rows('.selected').data().length >= tblTmAll.rows({search: 'applied'}).data().length )
            $('#tma-check').addClass('active');
        else
            $('#tma-check').removeClass('active');
        //tblTmAll.draw();
    }

    // Окрашиваем кнопку Выбрать ВСЕ в зависимости от количества выбранных кнопок
    function tmm_check_update() {
        if ( tblTmMrkt.rows('.selected').data().length >= tblTmMrkt.rows({search: 'applied'}).data().length )
            $('#tmm-check').addClass('active');
        else
            $('#tmm-check').removeClass('active');
        //tblTmMrkt.draw();
    }

    // Поиск
    $("#searchTmAll").keyup(function(){
        tblTmAll.search( this.value, false ).draw();
        //tma_check_update();
    });

    // SelectAll/DeselectAll
    $("#tma-check").on('click',function(){
        if (!$('#tma-check').hasClass('active')) {
            tblTmAll.rows({search: 'applied'}).select().draw();
            $('#tma-check').addClass('active');
        }
        else {
            tblTmAll.rows().deselect().draw();
            $('#tma-check').removeClass('active');
        }
    });

    // Обработка клика на строку таблицы (Select/Deselect)
    $('#tblTmAll tbody').on('click', 'tr', function (event) {
        var ctrlPress = (event.ctrlKey == true);

        // Если не включен мультивыбор сначала сбрасываем все выбор
        if ((!ctrlPress) & (!$('#tma-ctrl').hasClass('active'))) {
            //tblLpuAll.rows().deselect();
            $('#tblTmAll tbody > tr').removeClass('selected');
        }
        $(this).toggleClass('selected');
        //tblLpuAll.draw('full-hold');
        tma_check_update();
    } );

    // Обработка кнопки "Добавить Мнн"
    $("#addTm").on( 'click', function () {
        tblTmAll.rows('.selected').every( function ( rowIdx, tableLoop, rowLoop ) {
            var v = this.data();
            tblTmMrkt.row.add([v[0], v[1]]);
        });
        tblTmAll.rows('.selected').remove().draw('full-hold');
        tblTmMrkt.draw('full-hold');
        $('#tblTmAll tbody > tr').removeClass('selected');
    });


    //
    // РАБОТА С ТАБЛИЦЕЙ ВЫБРАННЫХ МНН ДЛЯ СОТРУДНИКА
    //

    // Поиск
    $("#searchTmMrkt").keyup(function(){
        tblTmMrkt.search( this.value ).draw();
        tmm_check_update();
    });

    // SelectAll/DeselectAll
    $("#tmm-check").on('click',function(){
        if (!$('#tmm-check').hasClass('active')) {
            tblTmMrkt.rows({search: 'applied'}).select().draw();
            $('#tmm-check').addClass('active');
        }
        else {
            tblTmMrkt.rows().deselect().draw();
            $('#tmm-check').removeClass('active');
        }
    });

    // Обработка клика на строку таблицы (Select/Deselect)
    $('#tblTmMrkt tbody').on('click', 'tr', function (event) {
        var ctrlPress = (event.ctrlKey == true);

        // Если не включен мультивыбор сначала сбрасываем все выбор
        if ((!ctrlPress) & (!$('#tmm-ctrl').hasClass('active'))) {
            //tblLpuEmp.rows().deselect();
            $('#tblTmMrkt tbody > tr').removeClass('selected');
        }
        $(this).toggleClass('selected');
        //tblLpuEmp.draw('full-hold');
        tmm_check_update();
    } );

    // Обработка кнопки "Удалить МНН"
    $("#removeTm").on( 'click', function () {
        tblTmMrkt.rows('.selected').every( function ( rowIdx, tableLoop, rowLoop ) {
            var v = this.data();
            tblTmAll.row.add([v[0], v[1]]);
        });
        tblTmMrkt.rows('.selected').remove().draw('full-hold');
        tblTmAll.draw('full-hold');
        $('#tblTmMrkt tbody > tr').removeClass('selected');
    });

} );

</script>
