{% extends "fa_layout.html" %}
{% load staticfiles %}
{% load i18n %}

{% block page %}
    <style>
        tbody tr td.text-mini {
            font-size: 0.9rem;
            font-weight: 400;
            line-height: 0.9rem;
        }
    </style>

<div class="container-fluid mx-3 col-lg-8">
<div class="row">
    <div>
        <div class="row">
        <div class="col-6">
            <a role="button" class="btn btn-primary btn-sm" href="{% url 'farmadmin:market' %}"><i class="fa fa-plus" id="addMarket"></i> Добавить рынок</a>
        </div>
        <div class="col-6">
             <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Поиск</span>
              </div>
              <input type="text" class="form-control" id="searchMarket" placeholder="" aria-label="Search" aria-describedby="basic-addon1">
            </div>
        </div>
        </div>

        <div class="row">
        <div class="col-12">
           <table id="tblMarket" class="table table-hover table-sm table-striped display w-100">
               <thead>
               <th>market_id</th>
               <th width="10%">Рынок</th>
               <th width="50%">Международные Непатентованные наименования (МНН)</th>
               <th width="40%">Торговые наименования (TrandeMark)</th>
               </thead>
               <tbody>
                 {% for row in object_list %}
                     <tr>
                     <td>{{ row.id }}</td><td>{{ row.name }}</td>
                     <td>{% for i in row.market_innrs_set.all %}{% if i.own %}<b>{{ i.innr.name }}</b>{% else %}{{ i.innr.name }}{% endif %}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                     <td>{% for i in row.market_tmnrs_set.all %}{% if i.own %}<b>{{ i.tradenr.name }}</b>{% else %}{{ i.tradenr.name }}{% endif %}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                     </tr>
                 {% endfor %}

               </tbody>
           </table>
        </div>
        </div>
    </div>
</div>
</div>

<script>

$(document).ready(function() {
    var tblMarket = $('#tblMarket').DataTable( {
        dom: '<"row"<"col-12"t>><"row"<"col-12"p><"col-12"i>>',
        paging : false,
        ordering:  true,
        "order": [[ 1, "asc" ]],
        columns: [
            { title: "market_id", visible: false, searchable: false},
            { title: "Рынок", searchable: true, className: 'text-bold' },
            { title: "Международные Непатентованные наименования (МНН)", searchable: false, className:'text-mini' },
            { title: "Торговые наименования (TrandeMark)", searchable: false, className:'text-mini' }
        ],
        language: lang_russian
    } );

    $("#searchMarket").keyup(function(){
        tblMarket.search( this.value ).draw();
    });

    $('#tblMarket').on('click', 'tr', function (event) {
        var id = tblMarket.row(this).data()[0];
        location.href='{% url 'farmadmin:market' 90000000000000009 %}'.replace('90000000000000009',id);
    } );

} );


</script>

{% endblock %}