<div class="row" style="background-color: #E5E5F5">
    <div class="col-lg-6 col-sm-12 pt-4">

        <div class="row">
            <div class="col-6">
                 <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Поиск</span>
                  </div>
                  <input type="text" class="form-control" id="searchUsrAll" placeholder="" aria-label="Search" aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="col-6">
                <div class="float-right">
                    <button type="button" class="btn btn-outline-primary btn-sm"  id="addUsr">Добавить Login&nbsp;&nbsp;<i class="fa fa-arrow-right"></i></button>
                </div>
            </div>
        </div>

         <div class="row">
            <div class="col-12">
                <table id="tblUsrAll" class="table datatable table-hover table-sm display w-100">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>Login</th>
                            <th>Email</th>
                            <th>Фамилия</th>
                            <th>Имя</th>

                        </tr>
                    </thead>
                    <tbody>
                    {% for u in users %}
                        <tr><td>{{ u.id }}</td><td>{{ u.username }}</td><td>{{ u.email }}</td><td>{{ u.last_name }}</td><td>{{ u.first_name }}</td></tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
         </div>

    </div>

    <div class="col-lg-6 col-sm-12 pt-4">

        <div class="row">
            <div class="col-6">
                <div>
                    <button type="button" class="btn btn-outline-primary btn-sm" id="removeUsr"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;Удалить Login</button>
                </div>
            </div>

            <div class="col-6">
                 <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Поиск</span>
                  </div>
                  <input type="text" class="form-control" id="searchLpuEmp" placeholder="" aria-label="Search" aria-describedby="basic-addon1">
                </div>
            </div>
        </div>

         <div class="row">
            <div class="col-12">
                <table id="tblUsrEmp" class="table datatable table-hover table-sm display w-100">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>Login</th>
                            <th>Email</th>
                            <th>Фамилия</th>
                            <th>Имя</th>

                        </tr>
                    </thead>
                    <tbody>
                    {% for u in object.users.all %}
                        <tr><td>{{ u.id }}</td><td>{{ u.username }}</td><td>{{ u.email }}</td><td>{{ u.last_name }}</td><td>{{ u.first_name }}</td></tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
         </div>

    </div>


</div>


<script>

    var tblUsrEmp = $('#tblUsrEmp').DataTable( {
        dom: '<"row"<"col-12"t>><"row"<"col-12"p><"col-12"i>>',
        select: { style: 'multi' },
        ordering:  true,
        order: [[ 2, "asc" ]],
        scrollY: "300px",
        scrollX: false,
        scrollCollapse: true,
        scroller: { loadingIndicator: true },
        paging: true,
        "columnDefs": [
                    { title: "id", name: "user_id", "targets": 0 , "visible": false, "searchable": false },
                    { title: "Login", name: "username", "targets": 1 , "visible": true, "searchable": true },
                    { title: "Email", name: "email", "targets": 2 , "visible": true, "searchable": true },
                    { title: "Фамилия", name: "last_name", "targets": 3 , "visible": true, "searchable": true },
                    { title: "Имя", name: "first_name", "targets": 4 , "visible": true, "searchable": false }
        ],
        language: lang_russian
    } );

    var tblUsrAll = $('#tblUsrAll').DataTable( {
        dom: '<"row"<"col-12"t>><"row"<"col-12"p><"col-12"i>>',
        select: { style: 'multi' },
        ordering:  true,
        scrollY: "300px",
        scrollX: false,
        scrollCollapse: true,
        scroller: true,
        paging: true,
        "columnDefs": [
                    { title: "id", name: "user_id", "targets": 0 , "visible": false, "searchable": false },
                    { title: "Login", name: "username", "targets": 1 , "visible": true, "searchable": true },
                    { title: "Email", name: "email", "targets": 2 , "visible": true, "searchable": true },
                    { title: "Фамилия", name: "last_name", "targets": 3 , "visible": true, "searchable": true },
                    { title: "Имя", name: "first_name", "targets": 4 , "visible": true, "searchable": false }
        ],
        //rowCallback: function(row, data){
        //    var fnd = tblUsrEmp.column(0).data().toArray().indexOf(data[0]) >= 0;
        //    if (fnd) $(row).addClass("rowGrayed"); else $(row).removeClass("rowGrayed");
        //},
        language: lang_russian
    } );

$(document).ready(function() {
    //
    // РАБОТА С ТАБЛИЦЕЙ ВСЕХ Пользователей
    //

    // Поиск
    $("#searchUsrAll").keyup(function(){
        tblUsrAll.search( this.value, false ).draw();
    });

    // Обработка кнопки "Добавить Login"
    $("#addUsr").on( 'click', function () {
        tblUsrAll.rows('.selected').every( function ( rowIdx, tableLoop, rowLoop ) {
            var v = this.data();
            tblUsrEmp.row.add([v[0], v[1], v[2], v[3], v[4]]).draw('full-hold');
        });
        tblUsrAll.rows('.selected').remove().draw('full-hold');
        $('#tblUsrAll tbody > tr').removeClass('selected');
    });


    //
    // РАБОТА С ТАБЛИЦЕЙ ВЫБРАННЫХ ЛПУ ДЛЯ СОТРУДНИКА
    //

    // Поиск
    $("#searchUsrEmp").keyup(function(){
        tblUsrEmp.search( this.value ).draw();
    });

    // Обработка кнопки "Удалить Login"
    $("#removeUsr").on( 'click', function () {
        tblUsrEmp.rows('.selected').every( function ( rowIdx, tableLoop, rowLoop ) {
            var v = this.data();
            tblUsrAll.row.add([v[0], v[1], v[2], v[3], v[4]]).draw('full-hold');
        });
        tblUsrEmp.rows('.selected').remove().draw('full-hold');
        $('#tblUsrEmp tbody > tr').removeClass('selected');
    });

} );

</script>
