     <div class="row">
     <div class="col-12">
         <h5 class="card ml-1 mr-1">
         <h6 class="card-header pt-1 pb-1" style="background-color: #ddddff;"><b>УПРАВЛЕНИЕ ЗАГРУЗКАМИ</b></h6>
         <div class="card-body p-1">
             <a class="btn btn-primary" href="#" role="button"><i class="fa fa-table"></i> Загрузить данные</a>
            <a class="btn btn-primary" href="#" role="button"><i class="fa fa-check"></i> Сохранить фильтр</a>
            <a class="btn btn-danger" href="#" role="button"><i class="fa fa-times"></i> Сбросить фильтр</a>
         </div>
     </div>
     </div>