<div class="modal fade" tabindex="-1" role="dialog" id="modalFilterSave">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Сохранение фильтра</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <label for="inputFilterName">Введите имя фильтра для сохранения</label>
            <input type="text" class="form-control" id="inputFilterName" aria-describedby="filterHelp" placeholder="Фильтр" autocomplete="False">
            <small id="filterHelp" class="form-text text-muted">Введите наименование фильтра, чтобы отличить его от других в Вашей таблице сохраненных фильтров.</small>
          </div>
          <input type="hidden" id="saveConfirmId" value="0">
          <input type="hidden" id="saveConfirmType" value="3">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        <button type="button" class="btn btn-primary" id="btn_filter_save">Сохранить фильтр</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" role="dialog" id="modalOperationConfirm">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Подтверждение операции</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p style="text-align: center">
             <span id="operationConfirmText"></span><br>
             <b>"<span id="operationConfirmFilterName"></span>"</b>
          </p>
          <input type="hidden" id="operationConfirmId" value="0">
          <input type="hidden" id="operationConfirmType" value="1">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="buttonOperationConfirmed">Удалить</button>
      </div>
    </div>
  </div>
</div>

<div class="row">
 <div class="col-12">
     <div class="card ml-1 mr-1">
         <h6 class="card-header pt-1 pb-1" style="background-color: #ddddff;"><b>УПРАВЛЕНИЕ ЗАГРУЗКАМИ</b></h6>
         <div class="card-body p-1">
            <div class="col-12">
                <br>
                <table class="table table-sm table-hover display w-100 datatable display" width="100%" id="ta_flt_table">
                <thead class="thead-light">
                    <tr>
                        <th>Имя фильтра</th>
                        <th>Дата фильтра</th>
                        <th>Начало создания отчета</th>
                        <th>Конец создания отчета</th>
                        <th>Операции</th>
                        <th>Status</th>
                    </tr>
                </thead>
                </table>
            </div>
         </div>
         <div class="card-footer pl-1">
            <div class="col-12">
                 <a class="btn btn-primary" href="#" role="button" id="data_load_button"><i class="fa fa-table"></i> Загрузить данные</a>
                 <a class="btn btn-primary" href="#" role="button" id="data_save_button"><i class="fa fa-check"></i> Сохранить фильтр</a>
                 <a class="btn btn-danger" href="#" role="button" id="data_clear_button"><i class="fa fa-times"></i> Сбросить фильтр</a>
            </div>
         </div>
     </div>
 </div>
 </div>

<script type="text/javascript">

     var ta_flt_table = $('#ta_flt_table').DataTable({
                    "dom": '<"row col-12"<f><l><B>> <"col-12 p-0"t> <"row"<"col-6"i><"col-6"p>>',
                    //select: true,
                    buttons: [],
                    "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
                    "pageLength": 10,
                    "columnDefs": [
                        { "name": "name", "targets": 0, "visible": true, "searchable": true },
                        { "name": "created", "targets": 1, "visible": true, "searchable": false, "render": function (data) { return data; }, },
                        { "name": "report_start", "targets": 2, "visible": true, "searchable": false, "render": function (data) { return data; }, },
                        { "name": "report_finish", "targets": 3, "visible": true, "searchable": false, "render": function (data) { return data; }, },
                        { "name": "id", "targets": 4, "visible": true, "searchable": false,
                            "render": function (data, type, row, meta) {
                                            var status = row[5];
                                            spin_tag = ( status == 1 )?"fa-spin":"";
                                            xls_color = ( status == 0 )?"gray":( status == 1 )?"gray":( status == 2 )?"green":"red";
                                            data_suffix = " data-id='" + data + "' data-filtername='"+row[0]+"'></i>"
                                            delete_icon = "<i class='far fa-trash-alt i-delete' style='color:red;cursor:pointer' title='Удалить фильтр' " + data_suffix;
                                            edit_icon = "<i class='far fa-edit i-edit' style='color:blue;cursor:pointer' title='Изменить имя фильтра' " + data_suffix;
                                            sync_icon = "<i class='fa fa-sync i-load' style='color:blue;cursor:pointer' title='Загрузить фильтры'" + data_suffix;
                                            spinner_icon = "<i class='fas fa-spinner " + spin_tag + " i-loadxls' style='color:green;cursor:pointer' title='Сформировать Excel'" + data_suffix;
                                            calendar_icon = "<i class='far fa-calendar-alt t4' style='color:gray;cursor:pointer' title='Расписание формирования данных'" + data_suffix;
                                            excel_icon = "<a href='"+row[6]+"'><i class='far fa-file-excel t4' style='color:" + xls_color + ";cursor:pointer' title='Скачать Excel'" + data_suffix + "</a>";
                                            icons =  delete_icon + '&nbsp;' + edit_icon + '&nbsp;' + sync_icon + '&nbsp;' + calendar_icon + '&nbsp;' + spinner_icon + '&nbsp;' + excel_icon;
                                            return icons;
                                      },
                        },
                        { "name": "status", "targets": 5, "visible": true, "searchable": false },
                        { "name": "xls_url", "targets": 6, "visible": false, "searchable": false }
                    ],
                    "processing": true,
                    "serverSide": true,
                    "ordering":  true,
                    "order": [[ 0, 1 ]],
                    "ajax": {
                        "url": "{% url 'data:filters' %}",
                        "type": "POST",
                        "data": function ( d ) {
                            d.csrfmiddlewaretoken = '{{ csrf_token }}';
                        },
                        //"success": function(data) { console.log(data); }
                    },
                    "language": lang_russian
                });

     var query_dict = {};
     var fields_arr = [];

     function make_request_data () {
        query_dict = {};
        fields_arr = [];
        for (var idx in all_fields) {
            f = all_fields[idx];
            if ($('#' + f + '_check').hasClass('active')) fields_arr.push(f);
            if ($('#' + f + '_filter').hasClass('active')) {
               var cnt = 0;
               var filters = [];
               if (f in flt_counts) {
                   cnt = flt_counts[f];
               };

               for (var i=0; i<cnt; i++) {
                   var element = [];
                   op_id = 'selector-btn-' + f + '-' + i;
                   inp_id = 'input-' + f + '-' + i;
                   add_id = 'add-' + f + '-' + i;

                   element.push($('#' + op_id).attr("action"));
                   if ($('#' + inp_id).hasClass('select-2')) {
                       var d = $('#' + inp_id).select2('data');
                       element.push(d);
                   } else element.push($('#'+inp_id).val());
                   element.push($('#'+add_id).val());

                   filters.push(element);
               }
               query_dict[f] = filters;
            }
        }
        console.log(query_dict);
        console.log(fields_arr);
    };

     function clear_filters_data () {
        for (var idx in all_fields) {
            field_name = all_fields[idx];
            cnt = flt_counts[field_name];
            for (var i = 1; i < cnt; i++) {
                ig = '#input-group-' + field_name + '-' + i;
                $(ig).remove();
            };

            input_element = $('#input-' + field_name + '-0' );
            input_element.val(null);
            if (input_element.hasClass('select-2')) { input_element.trigger('change'); };

            $('#add-' + field_name + '-0' ).val(null);

            flt_counts[field_name] = 1;
            $('#' + field_name + '_filter').removeClass('active');
            $('#' + field_name + '_check').addClass('active');
        }
     };

     $(document).on('click', '.i-delete', function(event) {
             filter_name = $(this).attr('data-filtername')
             filter_id = $(this).attr('data-id')
             $('#operationConfirmText').text('Вы уверены, что хотите удалить фильтр');
             $('#operationConfirmFilterName').text(filter_name);
             $('#buttonOperationConfirmed').text('Удалить');
             $('#operationConfirmId').val(filter_id);
             $('#operationConfirmType').val('1');
             $('#modalOperationConfirm').modal('show');
    });

      $(document).on('click', '.i-load', function(event) {
             filter_name = $(this).attr('data-filtername');
             filter_id = $(this).attr('data-id');
             $('#operationConfirmText').text('Вы уверены, что хотите загрузить фильтр');
             $('#operationConfirmFilterName').text(filter_name);
             $('#buttonOperationConfirmed').text('Загрузить');
             $('#operationConfirmId').val(filter_id);
             $('#operationConfirmType').val('2');
             $('#modalOperationConfirm').modal('show');
    });

     function set_filter_element(field_name, index, arr) {
           op_id = 'selector-btn-' + field_name + '-' + index;
           inp_id = 'input-' + field_name + '-' + index;
           add_id = 'add-' + field_name + '-' + index;

           if (arr[0]!=null) {
               op_val = parseInt(arr[0]);
               add_val = parseInt(arr[2]);

               $('#' + op_id).attr("action", arr[0]);
               $('#' + inp_id).val(arr[1]);
               $('#' + add_id).val(arr[2]);

               svg =  $('#' + op_id).parent().find('div.dropdown-menu').find('.dropdown-item[action="' + arr[0] + '"]').find("svg")[0];
               if (svg)  $('#' + op_id).html(svg.outerHTML);
           } else {
              arr[1].forEach(function(item, i, a) {
                    var option = new Option(item.text, item.id, true, true);
                    $('#' + inp_id).append(option).trigger('change');
              });
           };
     };

     function add_filter_element(field_name, index, arr) {
         if (index > 0) {
            var idx = index;
            var controlForm = $('#' + field_name + '_row'),
                currentEntry = $('#input-group-' +  field_name + '-0'),
                newEntry = $(currentEntry.clone());

            newEntry.attr('id', 'input-group-' + field_name + '-' + idx);
            newEntry.find('#selector-btn-' + field_name+ '-0').attr('id', 'selector-btn-' + field_name + '-' + idx);
            newEntry.find('#add-' + field_name + '-0').attr('id', 'add-' + field_name + '-' + idx).attr('idx',idx);
            newEntry.find('#input-' + field_name + '-0').attr('id', 'input-' + field_name + '-' + idx);
            newEntry.find('button.dx-g-bs4-filter-selector-item').attr('parent', 'selector-btn-' + field_name + '-' + idx);
            newEntry.find('#input-' + field_name + '-0').attr('id', 'input-' + field_name + '-' + idx);
            newEntry.find('.data-input').removeClass('hasDatepicker').val('');
            newEntry.appendTo(controlForm);

            flt_counts[field_name] += 1;
         };
         set_filter_element(field_name, index, arr);
     }

     function load_filter(data) {
         if (data['result'] != '0') {
             alert('Ошибка на сервере при выполнении подготовки данных ' + JSON.stringify(data));
             return;
         }

         console.log(data.filters);
         clear_filters_data();
         current_filter_name = data.name;
         fields = JSON.parse(data.fields);
         filters = JSON.parse(data.filters);
         for (var idx in all_fields)  {
             field_name = all_fields[idx];
             if (fields.indexOf(field_name) == -1 )
                 $('#' + field_name + '_check').removeClass('active')
             else
                 $('#' + field_name + '_check').addClass('active');

             filter_arr = filters[field_name];
             if (filter_arr) {
                 for (var i in filter_arr) add_filter_element(field_name, i, filter_arr[i]);
                 $('#' + field_name + '_filter').addClass('active');
             };
         };
     };

     $(document).on('click', '#buttonOperationConfirmed', function(event) {
        operation_id = $('#operationConfirmId').val();
        operation_type = $('#operationConfirmType').val();

        //Delete filter
        if (operation_type === '1') {
             $.ajax({
                type: 'POST', url: "{% url 'data:filter_delete' %}",  async: false,
                data: { 'id' : operation_id, 'csrfmiddlewaretoken' : '{{ csrf_token }}' }
            });
        } else
        //Load filter
        if (operation_type === '2') {
             $.ajax({
                type: 'POST', url: "{% url 'data:filter_load' %}",  async: false,
                data: { 'id' : operation_id, 'csrfmiddlewaretoken' : '{{ csrf_token }}' },
                success: function (data) {
                    load_filter(data);
                },
            });
        };
        ta_flt_table.ajax.reload( null, true );
    });

    $(document).on('click', '.i-edit', function(event) {
        filter_name = $(this).attr('data-filtername')
        filter_id = $(this).attr('data-id')
        $('#inputFilterName').val( filter_name );
        $('#saveConfirmId').val( filter_id );
        $('#saveConfirmType').val( '2' );
        $('#modalFilterSave').modal('show');
    });

    $(document).on('click', '#data_save_button', function(event) {
        $('#inputFilterName').val(current_filter_name);
        $('#saveConfirmId').val( 0 );
        $('#saveConfirmType').val( '3' );
        $('#modalFilterSave').modal('show');
    });

     $(document).on('click', '#btn_filter_save', function(event) {
        filter_name = $('#inputFilterName').val();
        save_id = $('#saveConfirmId').val();
        save_type = $('#saveConfirmType').val();
        query_dict = {}
        fields_arr = []

        if (save_type === '3')  {
            make_request_data ();
            current_filter_name = filter_name;
        };

        $.ajax({
            type: 'POST',
            url: '{% url 'data:filter_save' %}',
            async: false,
            //traditional: true,
            data: {
                'type' : save_type,
                'name' : filter_name,
                'id'   : save_id,
                'filters' : JSON.stringify(query_dict),
                'fields' : JSON.stringify(fields_arr),
                'csrfmiddlewaretoken' : '{{ csrf_token }}'
            },
            success: function (data) {
            },
            error: function (xhr, str) {
                    alert('Error loading data. ' + str);
            }
        });

        $('#modalFilterSave').modal('hide');
        ta_flt_table.ajax.reload( null, true );
    });

    $(document).on('click', '#data_clear_button', function(event) {
        clear_filters_data ()
    });

    $(document).on('click', '#data_load_button', function(event) {
        make_request_data();

        $.ajax({
           type: "POST",
           url: "{% url 'data:dl' %}",
           async: false,
            data: {
                'filters' : JSON.stringify(query_dict),
                'fields' : JSON.stringify(fields_arr),
                'csrfmiddlewaretoken' : '{{ csrf_token }}'
            },
           traditional: true,
           //contentType: "application/json",
           //dataType: "text",
           success: function (data) {
              var url = data.download_url;
              window.location = url;
           },
        });
    });

    $(document).on('click', '.i-loadxls', function(event) {
        filter_id = $(this).attr('data-id');
        $.ajax({
           type: "POST",
           //async: false,
           url: "{% url 'data:dlxls' %}",
            data: {
                'id' : filter_id,
                'csrfmiddlewaretoken' : '{{ csrf_token }}'
            },
           traditional: true
        });
        ta_flt_table.ajax.reload( null, true );
    });

    //ToolTip initialize
    $(function () { $('[data-toggle="tooltip"]').tooltip() })

    var timerId = setInterval(function() { ta_flt_table.ajax.reload( null, true ); }, 10000);

 </script>